@import "../../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap";

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/*Begin Define Varibles*/

/*End Define Varibles*/
@font-face {
  font-family: 'HelveticaNeueLTStdBdCn';
  src:  url('font/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'), 
        url('font/HelveticaNeueLTStd-BdCn.otf')  format('opentype'),
        url('font/HelveticaNeueLTStd-BdCn.woff') format('woff'),
        url('font/HelveticaNeueLTStd-BdCn.ttf')  format('truetype'), 
        url('font/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStdMdCn';
  src:  url('font/HelveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'),  
        url('font/HelveticaNeueLTStd-MdCn.otf')  format('opentype'),
        url('font/HelveticaNeueLTStd-MdCn.woff') format('woff'), 
        url('font/HelveticaNeueLTStd-MdCn.ttf')  format('truetype'), 
        url('font/HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStdCn';
  src:  url('font/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'), 
        url('font/HelveticaNeueLTStd-Cn.otf')  format('opentype'),
        url('font/HelveticaNeueLTStd-Cn.woff') format('woff'),
        url('font/HelveticaNeueLTStd-Cn.ttf')  format('truetype'), 
        url('font/HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStdLtCn';
  src:  url('font/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),  
        url('font/HelveticaNeueLTStd-LtCn.otf')  format('opentype'),
        url('font/HelveticaNeueLTStd-LtCn.woff') format('woff'), 
        url('font/HelveticaNeueLTStd-LtCn.ttf')  format('truetype'), 
        url('font/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0px;
}

/*Begin Header*/
div.on_logo {
    width: 60%;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    text-align: center;
}
.sliders{
    max-width: 640px;
    margin: 0 auto;
}
ul.index-menu {
    padding: 0px;
    margin: 0 auto;
    width: 80%;
    background: #00467f;
    border-radius: 8px;
    li {
        list-style: none;
        width: 90%;
        position: relative;
        padding: 0px 53px 0px 4%;
        background: url(../img/arrow.png);
        background-repeat: no-repeat;
        background-position: right;
        background-position-y:26px;
        padding-right: 0px;
        a {
            text-decoration: none;
            font-size: 172%;
            display: block;
            padding: 20px 0 20px 80px;
            color: #fff;
            border-bottom: 1px solid #034072;
            border-top: 1px solid #0d5794;
            background: url(../img/icon_pack.png);
            background-repeat: no-repeat;
        }
    }
    li.iconfly a{
        background-position: 0px 25px;
    }
    li.iconcheckin a{
        background-position: 0px -45px;
    }
    li.iconmember a{
        background-position: 0px -110px;
    }
    li.iconstatus a{
        background-position: 0px -175px;
    }
    li.iconinformation a{
        background-position: 0px -245px;
    }
    li.iconlang a{
        background-position: 0px -315px;
    }
}
.menu-top-open ul.index-menu {
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    background: #00467f;
    border-radius: 0px;
    li:first-child a{
        border-top: 0px;
    }
}
.on_menu_open_true{
    background: #00467f;
}
.logo_header_page{
    height: 100px;
    background-color: #1c64a0;
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c64a0), to(#15558a));
    background: -webkit-linear-gradient(top, #1c64a0, #15558a);
    background: -moz-linear-gradient(top, #1c64a0, #15558a);
    background: -ms-linear-gradient(top, #1c64a0, #15558a);
    background: -o-linear-gradient(top, #1c64a0, #15558a);
}
div.on_menu_open {
    position: absolute;
    .onclick_open_menu {
        display: block;
        height: 100px;
        img{
            padding: 34px;
        }
    }
}
.menu-top-open-container{
    display: none;
}
.menu-top-open-container-true{
    transition:all 0.5s ease-in-out;
    display: block;
}
.on_logo h2{
    margin: 0;
    color: #fff;
    font-size: 40px;
    line-height: 90px;
    text-transform: uppercase;
}
div.home_button {
    top: 34px;
    position: absolute;
    top: 17px;
    right: 10px;
    z-index: 9999;
}
/*end header*/

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

/*information page*/
ul.information-menu {
    padding: 0px;
    margin: 0 auto;
    width: 80%;
    border-radius: 8px;
    li {
        list-style: none;
        width: 90%;
        position: relative;
        padding: 0px 53px 0px 4%;
        background: url(../img/arrow1.png);
        background-repeat: no-repeat;
        background-position: right;
        background-position: 0px 26px;
        padding-right: 0px;
        border-bottom: 1px solid #e9e9e9;
        a {
            text-decoration: none;
            font-size: 172%;
            display: block;
            color: #00467f;
            padding: 22px 0px 22px 0px;
        }
    }
    li:last-child{
        border-bottom: none;
    }
}
.angular-google-map-container { height: 400px; }
/*end information page*/
#menu-menufooter{
    list-style: none;
    width: 200px;
    margin: 0 auto;
    padding: 25px 0px 25px 0px;
    li{
        float: left;
        a{
            color: #00467f;
            text-decoration: none;
            span {
                padding: 10px;
            }
        }
    }
}

.step_status{
    width: 100%;
    padding: 18px 0px 20px 0px;
    span.step{
        background: url(../img/step.png);
        width: 480px;
        height: 40px;
        margin: 0 auto;
        display: block;
    }
    span.step1{
        background-position: 0px 0px;
    }
    span.step2{
        background-position: 0px -42px;
    }
    span.step3{
        background-position: 0px -84px;
    }
    span.step4{
        background-position: 0px 124px;
    }
    span.step5{
        background-position: 0px 82px;
    }
    span.step6{
        background-position: 0px 40px;
    }
}
.full-width{
    width: 100%;
    text-align: center;
}
.button_next_step{
    text-align: center;
    padding-top: 50px;
    button {
        color: #fff;
        font-size: 30px;
        padding: 10px 50px 10px 50px;
        text-decoration: none;
        background: #ffc423;
        border: none;
        border-bottom: 2px solid #d19900;
        border-radius: 8px;
        text-transform: uppercase;
    }
}
ul.step{
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    border-radius: 5px;
    border: 1px solid #175990;
    display: inline-block;
    li{
        float: left;
        margin: 1px;
        padding: 5px 0px 5px 0px;
        a{
            text-decoration: none;
            padding: 5px 25px 5px 25px;
        }
       
    }
    li.left{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    li.right{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;   
    }
    li:hover, li.active{
        background: #15558A;
        a{
            color: #fff
        }
    }
}
.control-label{
    font-family: 'HelveticaNeueLTStdBdCn';
    font-size: 22px;
    color: #15558a;

}
.accept_payment{
    padding-left: 15px;
    padding-right: 15px;
}
/*step1 css*/
.flightname{
    background: #f9f9f9;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    outline: 1px solid #e2e2e2;
    margin: 0px 0px 10px 0px;
    p{
        font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 30px;
        margin: 0;
        padding: 10px;
    }
}
.flight_from_to{
    text-align: center;
    padding: 30px;
    span{
         font-family: 'HelveticaNeueLTStdMdCn';
         font-size: 40px;
         color: #185c94;
    }
    span.depart{
        background: url(../img/fly_to.png);
        width: 112px;
        height: 39px;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
    }
    span.return{
        background: url(../img/fly_to.png);
        width: 112px;
        height: 39px;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
    }
}
.calendar{
    text-align: center;

    span {
        display: inline-block;
        font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 30px;
        color: #185c94;
        vertical-align: bottom;
    }

    .pre_date, .next_date {

        width: 20px;
        height: 45px;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
    }

    .pre_date {
        background-image: url(../img/calendar_to_left.png);
        background-position: 0px 16px;
        border-right: 1px solid #83a5c1;
        padding-right: 18px;
        margin-right: -35px;
        position: relative;
        z-index: 99;
    }

    .next_date {
        background-image: url(../img/calendar_to_right.png);
        background-position: 7px 14px;
        margin-left: -34px;
        border-left: 1px solid #83a5c1;
    }

    span.dateselected{
        border: 1px solid #175990;
        padding: 5px 60px 5px 60px;
        border-radius: 5px;
    }
}

.no_promo_code {
    margin-top: 60px;
    background: #e72133;
    text-align: center;
    p{
       font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 30px;
        color: #fff;
        margin: 0;
        padding: 10px; 
    }
}
.has_promocode {
    margin-top: 60px;
    background: #7bce10;
    text-align: center;
    span{
        width: 22px;
        height: 24px;
        display: inline-block;
        background: url(../img/tag_promo_code.png);
    }
    p{
       font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 30px;
        color: #fff;
        margin: 0;
        padding: 0px; 
    }
}
.has_promotion_code_tag{
    width: 18px;
    height: 20px;
    display: inline-block;
    background: url(../img/tag_promo_fare.png);
}

.valuefare {
    padding: 25px;
}
.summary_flight{
    font-family: 'HelveticaNeueLTStdCn';
    font-size: 30px;
    color: #464646;
    border: 1px solid #e2e2e2;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background: #f9f9f9;
    line-height: 40px;
    margin-bottom: 5px;
    cursor: pointer;
    .icon_expan{

    }
    .icon_close_expan{
        width: 32px;
        height: 32px;
        display: inline-block;
        background: url(../img/icon_not_expan.png);
    }
    .price_from{
        padding-left: 10px;
        .price_detail{
            font-size: 40px;
        }
    }
    .depart_time{
        float: right;
    }
}
.flight_fly{
    margin-bottom: 20px;
}
.expan_ticked_info{
    border: 1px solid #e2e2e2;
    background: #f9f9f9; 
    border-radius: 5px;
    .detail_flight {
        display: table;
        width: 100%;
        .indirect_icon_ticked{
            width: 5%;
            display: table-cell;
            background: url(../img/icon_indirect_en.png) center;
            background-repeat: no-repeat;
            position: relative;
            border-right: 1px dashed #d7d7d7;
            .icon_tick{
            }
        }
        .direct_icon_ticked{
            width: 5%;
            display: table-cell;
            background: url(../img/icon_direct_en.png) center;
            background-repeat: no-repeat;
            position: relative;
            border-right: 1px dashed #d7d7d7;
            .icon_tick{
            }
        }
        .transitgroup{
            width: 90%;
            display: table-cell;
            .transit{
                border-bottom: 1px dashed #d7d7d7;
                height: auto;
                position: relative;
                .time_to_time {
                    width: 80%;
                    float: left;
                    text-align: center;
                    padding: 10px;
                    p{
                        margin: 0px;
                        .fly_to_icon{
                            background: url(../img/flight_to.png);
                            width: 45px;
                            height: 17px;
                            display: inline-block;
                            margin: 0px 15px 5px 15px;
                        }
                        .time_from,.time_to{
                            font-size: 40px;
                            font-family: 'HelveticaNeueLTStdBdCn';
                        }
                        .name{
                            font-family: 'HelveticaNeueLTStdLtCn';
                            font-size: 30px;
                            color: #929292;
                        }
                    }
                    p.transittime{
                        background: url(../img/transiticon.png) top left #f9f9f9;
                        background-repeat: no-repeat;
                        padding-left: 25px;
                        position: absolute;
                        bottom: -9px;
                        text-align: center;
                        left: 36%;
                        color: #929292;
                    }
                }
                .airport_status{
                    width: 20%;
                    float: right;
                    background: #15558a;
                    padding-left: 25px;
                    p{
                        color: #ffc423;
                        font-size: 30px;
                        font-family: 'HelveticaNeueLTStdBdCn';
                    }
                }
            }
        }
    }
    .slecttion_package_price{
        margin-bottom: 1px;
        color: #fff;
        div{
            margin-top: 1px;
            background: #7bce10;
            padding-right: 15px;
            cursor: pointer;
            span{
                font-size: 30px;
                font-family: 'HelveticaNeueLTStdBdCn';
            }
            .package_price{
                float: right;
            }
        }
        span.select_tion{
            height: 32px;
            width: 32px;
            display: inline-block;
            vertical-align: -5px;
            margin-right: 10px;
            margin-left: 16px;
        }
        span.uncheck{
            background:  url(../img/price_uncheck.png);
        }
        span.check{
            background:  url(../img/price_check.png);
        }
        .soldout{
            background: #bfbfbf;
            span.select_tion{
                background:  url(../img/price_sold.png);
            }
        }
    }
}
.addon_service_for_flight{
    padding-left: 10px;
}
.infomation_passenger{
    .passenger{
        margin: 0px 15px 15px 15px;
        border-bottom: 1px solid #ebebeb;
        .passenger_name{
            font-family: 'HelveticaNeueLTStdMdCn';
            font-size: 30px;
            color: #15558a;
            cursor: pointer;
            span.pass_infant{
                color: #d6d6d6;
            }
            span.icon_plus_passenger{
                background:  url(../img/nonstick.png);
                width: 40px;
                height: 40px;
                float: right;
            }
            span.has-completed{
                background:  url(../img/stick.png);
            }
        }
    }
}
.infomation_booking{
    .total{
        background: #15558a;
        p{
            padding: 0px 15px 0px 15px;
            color: #ffc423;
            font-size: 40px;
            font-family: 'HelveticaNeueLTStdBdCn';
        }
    }
    .flyght_airport{
        .info_passenger{
            color: #929292;
            font-size: 30px;
            font-family: 'HelveticaNeueLTStdmdCn';
            padding: 0px 15px 0px 15px;
            p{
                border-bottom: 1px solid #ebebeb;
                margin: 15px 0;
                span.price{
                    float: right;
                }
            }
        }
        .additional,.total_price{
            font-size: 30px;
            font-family: 'HelveticaNeueLTStdBdCn';
            padding: 0px 15px 0px 15px;
            color: #464646;
            p{
                border-bottom: 1px solid #ebebeb;
                padding: 15px 0px;
            }
        }
        .total_price{
            border-bottom: none;
            span.price{
                float: right;
            }
        }
    }
    .total_amount{
        background: #15558a;
        p{
            padding: 0px 15px 0px 15px;
            color: #ffc423;
            font-size: 40px;
            font-family: 'HelveticaNeueLTStdBdCn';
            span.price{
                float: right;
            }
        }
    }
}
.booking_finish_infomation{
    .payment_status{
        text-align: center;
        img{
            padding-bottom: 5px;
        }
        p{
            text-transform: uppercase;
            text-align: center;
            font-size: 55px;
            font-family: 'HelveticaNeueLTStdBdCn';
            color: #16568c;
        }
    }
    .booking_number,.booking_total{
        padding: 0px 15px 0px 15px;
        background: #f9f9f9;
        font-size: 40px;
        font-family: 'HelveticaNeueLTStdLtCn';
        color: #626262;
        p{
            margin: 0px;
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
            span.booking_number_detail,span.booking_total_paid{
                font-family: 'HelveticaNeueLTStdBdCn';
                color: #464646;
                float: right;   
            }
        }
    }
    .booking_finish_info {
        text-align: center;
        font-size: 30px;
        font-family: 'HelveticaNeueLTStdLtCn';
        padding: 15px;
        span{
            color: #ed5967;
        }
   }
}

/*begin check in*/
.checkin_step_status{
    width: 100%;
    padding: 18px 0px 20px 0px;
    span.step{
        background: url(../img/step1_4.png);
        width: 480px;
        height: 40px;
        margin: 0 auto;
        display: block;
    }
    span.step1{
        background-position: 0px 0px;
    }
    span.step2{
        background-position: 0px -41px;
    }
    span.step3{
        background-position: 0px -82px;
    }
    span.step4{
        background-position: 0px 40px;
    }
}
.wrap_infomation_checkin{
    .infomation{
        padding: 10px;
        p{
            font-size: 30px;
            font-family: 'HelveticaNeueLTStdLtCn';
            padding-left: 50px;
            background: url(../img/icon_person_uncheck.png);
            background-repeat: no-repeat;
            line-height: 45px;
        }
    }
    .note_infomation{
        padding: 10px;
        p{
            font-size: 30px;
            font-family: 'HelveticaNeueLTStdLtCn';
            padding-left: 50px;
            background: url(../img/icon_transition.png);
            background-repeat: no-repeat;
            line-height: 45px;
            color: #15558a;
            span{
                color: #e70000;
                font-family: 'HelveticaNeueLTStdBdCn';
            }
        }
    }
}
/*end check in*/

.full-width{
    padding-bottom: 25px;
}
.nofare {
    margin-top: 60px;
    background: #e72133;
    text-align: center;
    p{
       font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 30px;
        color: #fff;
        margin: 0;
        padding: 10px; 
    }
}

.check_in_step2_view{
    .closed{
        background: #bfbfbf !important;
    }
    .waiting{
        background: #bfbfbf !important;
    }
    .checkedin{
        background: #ffc423 !important;
    }
    .checkin{
        background: #7bce10 !important;
    }
    .pre_price{
        text-align: center;
        cursor: auto !important;
        .package_name{
            padding-left: 40px;
        }
        ._closed{
            background: url(../img/price_sold.png);
            background-repeat: no-repeat;
        }
        ._waiting{
            background: url(../img/price_sold.png);
            background-repeat: no-repeat;
        }
        ._checkedin{
            background: url(../img/price_sold.png);
            background-repeat: no-repeat;
        }
        ._checkin{
            background: url(../img/price_check.png);
            background-repeat: no-repeat;
        }
    }
}
.checkin_passenger{
    .passenger{
        border-bottom: none !important;
    }
    p.passenger_name{
        cursor: auto !important;
    }
    p.info_with_infant{
        padding: 0;
        margin-top: -10px;
    }
    span.has-completed{
        width: 40px;
        height: 40px;
        display: inline-block;
        float: right;
    }
    span.has-seat{
        background: url(../img/seat.png);
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        display: inline-block;
        float: right;
        margin-right: 55px;
        padding-left: 35px;
    }
}
.with_infant_no_check_in{
    background: red;
    font-size: 20px;
    font-family: 'HelveticaNeueLTStdBdCn';
    text-align: center;
    color: #fff;
    padding: 0px 10px;
}
.not_payment_detect{
    background: red;
    font-size: 20px;
    font-family: 'HelveticaNeueLTStdBdCn';
    text-align: center;
    color: #fff;
    padding: 0px 10px;
    margin: 25px;
}
.wrap_seatmap table{
    margin: 0 auto;
    thead tr td,tfoot tr td, tbody tr td{
        text-align: center;
        width: 70px;
        padding-bottom: 20px;
    }
}
.seat_row{
    td.td_seat{
        
        span{
            width: 53px;
            height: 43px;
            display: inline-block;
            background-repeat: no-repeat;
        }
        .seat_type_0,.seat_type_1,.seat_type_2{
            background: url(../img/unAvailable.png)center;
            background-repeat: no-repeat;
        }
        .seat_type_3{
            background: url(../img/occupied.png)center;
            background-repeat: no-repeat;
        }
        .seat_type_4{
            background: url(../img/available.png)center;
            background-repeat: no-repeat;
        }
        .seat_type_5{
            background: url(../img/available.png) #f9c4e1 center;
            background-repeat: no-repeat;
        }
        .is_selected{
            background: url(../img/travelingparty.png) !important;   
            background-size: cover;
        }
    }
    
}
.modal-open {
    overflow: scroll !important;
}
.wrap_loading{
    background: url(../img/loading-icon.gif);   
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.readdy_to_flight{
    background: url(../img/ready_flight.png) !important;
    background-repeat: no-repeat !important;
    padding-left: 85px !important;
    background-size: contain !important;
}
.check_in_no_flight{
    text-align: center;
    .no_flight{
        background: url(../img/icon_no_road.png);  
        width: 130px;
        height: 59px;
        margin: 0 auto;
        background-repeat: no-repeat;
        margin-top: 60px;
    }
    h2{
        font-family: 'HelveticaNeueLTStdmdCn';
        font-size: 40px;
        color: #175990;
        margin: 0;
        padding: 10px;
    }
    p{
        font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 35px;
        color: #175990;
        margin: 0;
        padding: 10px; 
    }
}
.flightstatus_passenger_info{
    p{
        margin: 0px 10px;
        font-family: 'HelveticaNeueLTStdLtCn';
        color: #626262;
        font-size: 30px;
        border-top: 1px solid #ebebeb;
        padding: 10px 0px;
        span{
            color: #464646;
            float: right;
            font-family: 'HelveticaNeueLTStdmdCn';
            font-size: 30px;
        }
    }
    p:first-child{
        border-top: none;
    }
}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 650px) {
    .expan_ticked_info .detail_flight {
        min-height: 150px;
    }
}
@media screen and (max-width: 640px) {

    ul.index-menu {
        li {
            a {
                font-size: 100%;
            }
        }
    }
    .step_status{
        width: 100%;
        padding: 18px 0px 20px 0px;
        span.step{
           background: url(../img/step.png);
            width: 280px;
            height: 25px;
            margin: 0 auto;
            display: block;
            background-size: 100%;
        }
        span.step1{
            background-position: 0px 0px;
        }
        span.step2{
            background-position: 0px -24px;
        }
        span.step3{
            background-position: 0px -48px;
        }
        span.step4{
            background-position: 0px 74px;
        }
        span.step5{
            background-position: 0px 49px;
        }
        span.step6{
            background-position: 0px 25px;
        }
    }
    .flightname{
        p{
            font-size: 21px;
        }
    }
    .on_logo h2 {
        font-size: 20px;
    }
    .flight_from_to {
        span{
            font-size: 30px;
        }
        span.depart {
            background: url(../img/fly_to.png) center;
            background-repeat: no-repeat;
            width: 100%;
        }
    }
    .calendar{
        button.pre_date{
            background-position: 0px 10px;
            height: 35px;
        }
        button.next_date{
            background-position: 0px 11px;
            height: 37px;
        }
        span{
            font-size: 20px;
        }
    }
    .summary_flight{
        font-size: 30px;
        line-height: 30px;
        .price_from{
            font-size: 30px;
            .price_detail{
                font-size: 30px;
            }
        }
        .depart_time{
            width: 100%;
            display: block;
            text-align: right;
            float: none;
        }
    }
    .expan_ticked_info{
        .detail_flight{
            .indirect_icon_ticked{
                display: none;
            }
            .direct_icon_ticked{
                display: none;
            }
            .transitgroup{
                .transit{
                    .time_to_time{
                        width: 100%;
                    }
                    .airport_status{
                        display: none;
                    }
                }
            }
        }

    }
    .booking_finish_infomation{
        .payment_status{
            text-align: center;
            img{
                padding-bottom: 5px;
            }
            p{
                text-transform: uppercase;
                text-align: center;
                font-size: 30px;
                font-family: 'HelveticaNeueLTStdBdCn';
                color: #16568c;
            }
        }
        .booking_number,.booking_total{
            padding: 0px 15px 0px 15px;
            background: #f9f9f9;
            font-size: 20px;
            font-family: 'HelveticaNeueLTStdLtCn';
            color: #626262;
            p{
                margin: 0px;
                border-top: 1px solid #ebebeb;
                border-bottom: 1px solid #ebebeb;
                span.booking_number_detail,span.booking_total_paid{
                    font-family: 'HelveticaNeueLTStdBdCn';
                    color: #464646;
                    float: right;   
                }
            }
        }
        .booking_finish_info {
            text-align: center;
            font-size: 20px;
            font-family: 'HelveticaNeueLTStdLtCn';
            padding: 15px;
            span{
                color: #ed5967;
            }
       }
    }
}
@media screen and (max-width: 320px) {
    ul.index-menu {
        width: 98%;
        li {
            a {
                font-size: 100%;
            }
        }
    }
    div.on_menu_open .onclick_open_menu img {
        padding: 34px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .home_button a img{
        margin-top: 11px;
        width: 42px;
    }
    .summary_flight{
        font-size: 20px;
        line-height: 23px;
        .icon_expan{

        }
        .icon_close_expan{
            width: 20px;
            height: 16px;
            display: inline-block;
            background: url(../img/icon_not_expan.png);
            background-size: 80%;
            background-repeat: no-repeat;
        }
        .price_from{
            font-size: 20px;
            padding-left: 0px;
            .price_detail{
                font-size: 20px;
            }
        }
        .depart_time{
            font-size: 20px;
            float: none;
        }
    }
    .expan_ticked_info{
        .detail_flight {
            .indirect_icon_ticked{
                display: none;
            }
            .direct_icon_ticked{
                display: none;
            }
            .transitgroup{
                width: 100%;
                display: table-cell;
                .transit{
                    .time_to_time {
                        width: 100%;
                        text-align: center;
                        padding: 10px 0px 10px 0px;
                        p{
                            margin: 0px;
                            .fly_to_icon{
                                background: url(../img/flight_to.png) center;
                                background-repeat: no-repeat;
                                margin: 0px 10px 5px 10px;
                            }
                            .time_from,.time_to{
                                font-size: 20px;
                            }
                            .name{
                                font-size: 20px;
                            }
                        }
                    }
                    .airport_status{
                        display: none;
                    }
                }
            }
        }
        .slecttion_package_price{
            .soldout span.select_tion{
                    background: url(../img/price_sold.png);
                    background-size: 80%;
                    background-repeat: no-repeat;
                    height: 25px;
                    background-position:0px 0px;
                    margin-right: 0px;
                    margin-top: 4px;
                }
            div{
                .uncheck,.check{
                    background-size: 80%;
                    background-repeat: no-repeat;
                    height: 25px;
                    background-position: 0px 0px;
                    margin-right: 0px;
                    margin-top: 4px;
                }                
                .package_name{
                    font-size: 20px;
                }
                .package_price{
                    width: 100%;
                    text-align: right;
                    font-size: 20px;
                }
            }
        }
    }
    .step_status{
        width: 100%;
        padding: 18px 0px 20px 0px;
        span.step{
           background: url(../img/step.png);
            width: 280px;
            height: 25px;
            margin: 0 auto;
            display: block;
            background-size: 100%;
            margin: 16px;
        }
        span.step1{
            background-position: 0px 0px;
        }
        span.step2{
            background-position: 0px -24px;
        }
        span.step3{
            background-position: 0px -48px;
        }
        span.step4{
            background-position: 0px 74px;
        }
        span.step5{
            background-position: 0px 49px;
        }
        span.step6{
            background-position: 0px 24px;
        }
    }
    .flightname{
        p{
            font-size: 21px;
        }
    }
    .on_logo h2 {
        font-size: 16px;
    }
    .flight_from_to {
        span{
            font-size: 30px;
        }
        span.depart {
            background: url(../img/fly_to.png) center;
            background-repeat: no-repeat;
            width: 100%;
        }
    }
    .calendar{
        button.pre_date{
            background-position: 0px 10px;
            height: 35px;
        }
        button.next_date{
            background-position:0px 11px;
            height: 37px;
        }
        span{
            font-size: 20px;
        }
    }
    .infomation_booking{
        .total{
            background: #15558a;
            p{
                padding: 0px 15px 0px 15px;
                color: #ffc423;
                font-size: 20px;
                font-family: 'HelveticaNeueLTStdBdCn';
            }
        }
        .flyght_airport{
            .info_passenger{
                color: #929292;
                font-size: 20px;
                font-family: 'HelveticaNeueLTStdmdCn';
                padding: 0px 15px 0px 15px;
                p{
                    border-bottom: 1px solid #ebebeb;
                    margin: 15px 0;
                    span.price{
                        float: right;
                    }
                }
            }
            .additional,.total_price{
                font-size: 20px;
                font-family: 'HelveticaNeueLTStdBdCn';
                padding: 0px 15px 0px 15px;
                color: #464646;
                p{
                    border-bottom: 1px solid #ebebeb;
                    padding: 15px 0px;
                }
            }
            .total_price{
                border-bottom: none;
                span.price{
                    float: right;
                }
            }
        }
        .total_amount{
            background: #15558a;
            p{
                padding: 0px 15px 0px 15px;
                color: #ffc423;
                font-size: 20px;
                font-family: 'HelveticaNeueLTStdBdCn';
                span.price{
                    float: right;
                }
            }
        }
    }
}
