@import "../../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap";

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/*Begin Define Varibles*/

/*End Define Varibles*/
@font-face {
  font-family: 'HelveticaNeueLTStdBdCn';
  src:  url('font/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'), 
        url('font/HelveticaNeueLTStd-BdCn.otf')  format('opentype'),
        url('font/HelveticaNeueLTStd-BdCn.woff') format('woff'),
        url('font/HelveticaNeueLTStd-BdCn.ttf')  format('truetype'), 
        url('font/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStdMdCn';
  src:  url('font/HelveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'),  
        url('font/HelveticaNeueLTStd-MdCn.otf')  format('opentype'),
        url('font/HelveticaNeueLTStd-MdCn.woff') format('woff'), 
        url('font/HelveticaNeueLTStd-MdCn.ttf')  format('truetype'), 
        url('font/HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStdCn';
  src:  url('font/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'), 
        url('font/HelveticaNeueLTStd-Cn.otf')  format('opentype'),
        url('font/HelveticaNeueLTStd-Cn.woff') format('woff'),
        url('font/HelveticaNeueLTStd-Cn.ttf')  format('truetype'), 
        url('font/HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStdLtCn';
  src:  url('font/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),  
        url('font/HelveticaNeueLTStd-LtCn.otf')  format('opentype'),
        url('font/HelveticaNeueLTStd-LtCn.woff') format('woff'), 
        url('font/HelveticaNeueLTStd-LtCn.ttf')  format('truetype'), 
        url('font/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStd-UltLtCn';
  src:  url('font/HelveticaNeueLTStd-UltLtCn.eot?#iefix') format('embedded-opentype'),  
        url('font/HelveticaNeueLTStd-UltLtCn.otf')  format('opentype'),
        url('font/HelveticaNeueLTStd-UltLtCn.woff') format('woff'), 
        url('font/HelveticaNeueLTStd-UltLtCn.ttf')  format('truetype'), 
        url('font/HelveticaNeueLTStd-UltLtCn.svg#HelveticaNeueLTStd-UltLtCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0px;
}

/*Begin Header*/
.menu-menufooter-container {
    background-color: #0f244f;
}
.login_form{
	padding-top:20px;
}
.flightstatustitle {
    background-color: #0f244f;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.flighstatusinfo{
	padding-bottom: 10px;
	.boxflight{
		p{
			padding: 0px 15px 0px 15px;
			background-color: #1c64a0;
			color:#fff;
			font-size: 20px;
			line-height: 40px;
			img{
				height:20px;
			}
		}
	}
	.boxdate{
	    margin-top: -8px;
		p{
			padding: 0px 15px 0px 15px;
			background-color:#d7d7d7;
			line-height: 40px;
			font-size: 22px;
		}
	}
	.boxflightinfo{
		
		margin-top: -8px;
		padding: 5px;
		background-color: #f0f0f0;
		.time{
			color: #1D4189;
			padding: 10px 15px 0px 15px;
			font-size: 27px;
			font-weight: bold;
		}
		.flightnumber{
			color:#000;
			padding: 0px 15px 0px 15px;
			font-size: 22px;
		}
		.status-ontime{
			background-color: #00bcd4;
			line-height: 40px;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			margin: 15px;
			font-weight: bold;
			font-size: 18px;
		}
		.status-departed{
			background-color: #00a651;
			line-height: 40px;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			margin: 15px;
			font-weight: bold;
			font-size: 18px;
		}
		.status-delayed{
			background-color: #feb417;
			line-height: 40px;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			margin: 15px;
			font-weight: bold;
			font-size: 18px;
		}
		.status-canlled{
			background-color: #c22f2b;
			line-height: 40px;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			margin: 15px;
			font-weight: bold;
			font-size: 18px;
		}
	}
}
div.on_logo {
    width: 60%;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    text-align: center;
    padding: 10px;
    h2{
        margin: 0;
        color: #2b2b2b;
        font-size: 40px;
        line-height: 90px;
        text-transform: uppercase;
    }
    a{
        img{
            /*width: 100%;*/
        }
    }
}
.sliders{
    max-width: 640px;
    margin: 0 auto;
    /*padding: 10px 0px 20px 0px;*/
}
.bx-wrapper{
    right: -4px;
    .bx-viewport{
        min-height: 303px;
        .bxslider{
            li{
                width: 640px !important;
            }
        }
    }
}
ul.index-menu {
    padding: 0px;
    margin: 0 auto;
    width: 80%;
    li {
        list-style: none;
        width: 98%;
        position: relative;
        padding: 0px;
        background: url(../img/arrow.png) right 30px center;
        background-color: #fcd706;
        background-repeat: no-repeat;
        a {
            font-family: "HelveticaNeueLTStdMdCn";
            font-size: 35.5px;
            text-decoration: none;
            font-size: 172%;
            display: block;
            padding: 20px 0 20px 100px;
            color: #000;
            border-bottom: 1px solid #fcd80e;
            background: url(../img/icon_pack.png);
            background-repeat: no-repeat;
        }
    }
    li:hover{
        background: #ce342c url(../img/arrow.png) right 30px center;
        background-repeat: no-repeat;
        a{
            background: url(../img/icon_pack_hover.png);
            background-repeat: no-repeat;
            color: #fff;
			 border-bottom: 1px solid #dd6a1f;
        }
    }
    li.iconfly a{
        background-position: 20px 25px;
    }
    li.iconcheckin a{
        background-position: 20px -45px;
    }
    li.iconmember a{
        background-position: 20px -110px;
    }
    li.iconstatus a{
        background-position: 20px -175px;
    }
    li.iconinformation a{
        background-position: 20px -245px;
    }
    li.iconlang a{
        background-position: 20px -315px;
    }
}
.menu-top-open ul.index-menu {
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    background: #00467f;
    border-radius: 0px;
    li:first-child a{
        border-top: 0px;
    }
}
.on_menu_open_true{
    background: #00467f;
}
.logo_header_page{
    height: 100px;
    background-color: #fcd706;
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcd706), to(#fcd706));
    background: -webkit-linear-gradient(top, #fcd706, #fcd706);
    background: -moz-linear-gradient(top, #fcd706, #fcd706);
    background: -ms-linear-gradient(top, #fcd706, #fcd706);
    background: -o-linear-gradient(top, #fcd706, #fcd706);
}
div.on_menu_open {
    position: absolute;
    .onclick_open_menu {
        height: 36px;
        background: url(../img/menu_icon.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 47px;
        background-size: cover;
        margin: 34px;
        img{
            padding: 34px;
        }
    }
}
div.on_menu_open:hover{
    .onclick_open_menu {
        
    }
}
.home_button{
    top: 34px;
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 9999;
    .home_button_top_right{
        height: 39px;
        background: url(../img/home_button.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 41px;
        background-size: cover;
    }
}
.menu-top-open-container{
    display: none;
}
.menu-top-open-container-true{
    transition:all 0.5s ease-in-out;
    display: block;
}

/*end header*/

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

/*information page*/
ul.information-menu {
    padding: 0px;
    margin: 0 auto;
    width: 80%;
    border-radius: 8px;
    li {
        list-style: none;
        width: 90%;
        position: relative;
        padding: 0px 53px 0px 4%;
        background: url(../img/arrow1.png);
        background-repeat: no-repeat;
        background-position: right;
        background-position: 0px 26px;
        padding-right: 0px;
        border-bottom: 1px solid #e9e9e9;
        a {
            text-decoration: none;
            font-size: 172%;
            display: block;
            color: #00467f;
            padding: 22px 0px 22px 0px;
            cursor: pointer;
        }
    }
    li:last-child{
        border-bottom: none;
    }
}
.content_infomation_page{
    .content{
        padding: 0px 20px 20px 20px;
    }
}
.content_contact_page{
    padding-top: 15px;
}
.angular-google-map-container { height: 400px; }
/*end information page*/
#menu-menufooter{
    list-style: none;
    width: 300px;
    margin: 0 auto;
    padding: 25px 0px 25px 0px;
    li{
        float: left;
        a{
            color: #fff;
            text-decoration: none;
            span {
                padding: 10px;
            }
        }
    }
}

.step_status{
    width: 100%;
    padding: 18px 0px 20px 0px;
    span.step{
        background: url(../img/step.png);
        width: 578px;
        height: 48px;
        margin: 0 auto;
        display: block;
    }
    span.step1{
        background-position: 0px 0px;
    }
    span.step2{
        background-position: 0px -48px;
    }
    span.step3{
        background-position: 0px -95px;
    }
    span.step4{
        background-position: 0px 143px;
    }
    span.step5{
        background-position: 0px 96px;
    }
    span.step6{
        background-position: 0px 48px;
    }
}
.full-width{
    width: 100%;
    text-align: center;
}
.button_next_step{
    text-align: center;
    padding-top: 20px;
	padding-bottom: 20px;
    button {
        color: #fff;
        font-size: 30px;
        padding: 10px 50px 10px 50px;
        text-decoration: none;
        border: none;
        background: #ce352d;
        border-bottom: 3px solid #ce352d;
        border-radius: 8px;
        text-transform: uppercase;
    }
}
ul.step{
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    border-radius: 5px;
    border: 1px solid #ce352d;
    display: inline-block;
    li{
        float: left;
        margin: 1px;
        padding: 5px 0px 5px 0px;
        a{
            text-decoration: none;
            padding: 5px 25px 5px 25px;
			color: #2b2b2b !important;
        }
       
    }
    li.left{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    li.right{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;   
    }
    li:hover, li.active{
        background: #ce352d;
        a{
            color: #fff !important;
        }
    }
}
.control-label{
    font-family: 'HelveticaNeueLTStdBdCn';
    font-size: 22px;
    color: #2b2b2b;

}
.accept_payment{
    padding-left: 15px;
    padding-right: 15px;
}
/*step1 css*/
.flightname{
    background: #063667;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    outline: 1px solid #e2e2e2;
    margin: 0px 0px 10px 0px;
	color:#fff;
    p{
        font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 30px;
        margin: 0;
        padding: 10px;
    }
}
.flight_from_to{
    text-align: center;
    padding: 30px;
    span{
         font-family: 'HelveticaNeueLTStdMdCn';
         font-size: 40px;
         color: #185c94;
    }
    span.depart{
        background: url(../img/fly_to.png);
        width: 112px;
        height: 39px;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
    }
    span.return{
        background: url(../img/fly_to.png);
        width: 112px;
        height: 39px;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
    }
}
.calendar{
    text-align: center;

    span {
        display: inline-block;
        font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 30px;
        color: #185c94;
        vertical-align: bottom;
    }

    .pre_date, .next_date {

        width: 20px;
        height: 45px;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
    }

    .pre_date {
        background-image: url(../img/calendar_to_left.png);
        background-position: 0px 16px;
        border-right: 1px solid #83a5c1;
        padding-right: 18px;
        margin-right: -35px;
        position: relative;
        z-index: 99;
    }

    .next_date {
        background-image: url(../img/calendar_to_right.png);
        background-position: 7px 14px;
        margin-left: -34px;
        border-left: 1px solid #83a5c1;
    }

    span.dateselected{
        border: 1px solid #175990;
        padding: 5px 60px 5px 60px;
        border-radius: 5px;
    }
}

.no_promo_code {
    margin-top: 60px;
    background: #e72133;
    text-align: center;
    p{
       font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 30px;
        color: #fff;
        margin: 0;
        padding: 10px; 
    }
}
.has_promocode {
    margin-top: 60px;
    background: #7bce10;
    text-align: center;
    span{
        width: 22px;
        height: 24px;
        display: inline-block;
        background: url(../img/tag_promo_code.png);
    }
    p{
       font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 30px;
        color: #fff;
        margin: 0;
        padding: 0px; 
    }
}
.has_promotion_code_tag{
    width: 18px;
    height: 20px;
    display: inline-block;
    background: url(../img/tag_promo_fare.png);
}

.valuefare {
    padding: 25px;
}
.summary_flight{
    font-family: 'HelveticaNeueLTStdCn';
    font-size: 30px;
    color: #000000;
    border: 1px solid #e2e2e2;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background: #f9f9f9;
    line-height: 40px;
    margin-bottom: 5px;
    cursor: pointer;
    .icon_expan{

    }
    .icon_close_expan{
        width: 32px;
        height: 32px;
        display: inline-block;
        background: url(../img/icon_not_expan.png);
    }
    .price_from{
        padding-left: 10px;
        .price_detail{
            font-size: 40px;
        }
    }
    .depart_time{
        float: right;
    }
}
.flight_fly{
    margin-bottom: 20px;
}
.expan_ticked_info{
    border: 1px solid #e2e2e2;
    background: #f9f9f9; 
    border-radius: 5px;
    .detail_flight {
        display: table;
        width: 100%;
        padding: 15px 15px 15px 0px;
        .indirect_icon_ticked{
            width: 7%;
            display: table-cell;
            background: url(../img/icon_indirect_en.png) center;
            background-repeat: no-repeat;
            position: relative;
            border-right: 1px dashed #d7d7d7;
            .icon_tick{
            }
        }
        .direct_icon_ticked{
            width: 5%;
            display: table-cell;
            background: url(../img/icon_direct_en.png) center;
            background-repeat: no-repeat;
            position: relative;
            border-right: 1px dashed #d7d7d7;
            .icon_tick{
            }
        }
        .transitgroup{
            width: 90%;
            display: table-cell;
            padding: 10px;
            .transit:first-child{
                .segment_view:first-child{
                    border: none;
                }
            }
            .transit{
                height: auto;
                position: relative;

                .segment_view{
                    border-top: 1px solid #d5d5d5;
                    margin: 3px 0px;
                }
                .time_to_time {
                    width: 80%;
                    float: left;
                    padding: 10px;
                    p{
                        margin: 0px;
						color:#000000;
                        .fly_to_icon{
                            background: url(../img/flight_to.png);
                            width: 45px;
                            height: 17px;
                            display: inline-block;
                            margin: 0px 15px 5px 15px;
                        }
                        .time_from,.time_to{
                            font-size: 40px;
                            font-family: 'HelveticaNeueLTStdBdCn';
                        }
                        .name{
                            font-family: 'HelveticaNeueLTStdLtCn';
                            font-size: 30px;
                            color: #000000;
                        }
                    }
                    p.transittime{
                        background: url(../img/transiticon.png) top left #f9f9f9;
                        background-repeat: no-repeat;
                        padding-left: 25px;
                        position: absolute;
                        bottom: -9px;
                        text-align: center;
                        left: 36%;
                        color: #929292;
                    }
                }
                .segment_stop {
                    background: #e6e6e6;
                    text-align: center;
                    color: #464646;
                    margin: 2px 0px;
                    padding: 4px;
                    .stop_lable{
                        font-family: 'HelveticaNeueLTStdLtCn';
                        font-size: 30px;
                    }
                    .stop_value{
                        font-family: 'HelveticaNeueLTStdBdCn';
                        font-size: 30px;
                    }
                }
                .airport_status{
                    width: 13%;
                    float: right;
                    background: #15558a;
                    text-align: center;
                    border: 1px solid #d5d5d5;
                    border-radius: 8px;
                    margin-top: 7px;
                    p{
                        color: #ffc423;
                        font-size: 30px;
                        font-family: 'HelveticaNeueLTStdBdCn';
                        text-decoration: underline;
                    }
                }
                .airport_status_640{
                    display: none;
                }
                .airport_status_from_640{
                    display: block;
                }
            }
        }
    }
    .slecttion_package_price{
        margin-bottom: 1px;
        color: #fff;
        div{
            margin-top: 1px;
            background: #ce3830;
            padding-right: 15px;
            cursor: pointer;
            span{
                font-size: 30px;
                font-family: 'HelveticaNeueLTStdBdCn';
                text-decoration: underline;
            }
            .package_price{
                float: right;
            }
        }
        span.select_tion{
            height: 32px;
            width: 32px;
            display: inline-block;
            vertical-align: -5px;
            margin-right: 10px;
            margin-left: 16px;
        }
        span.uncheck{
            background:  url(../img/price_uncheck.png);
        }
        span.check{
            background:  url(../img/price_check.png);
        }
        .soldout{
            background: #bfbfbf;
            span.select_tion{
                background:  url(../img/price_sold.png);
            }
        }
    }
}
.addon_service_for_flight{
    padding-left: 10px;
}
.infomation_passenger{
    .passenger{
        margin: 0px 15px 15px 15px;
        border-bottom: 1px solid #ebebeb;
        .passenger_name{
            font-family: 'HelveticaNeueLTStdMdCn';
            font-size: 30px;
            color: #15558a;
            cursor: pointer;
            span.pass_infant{
                color: #d6d6d6;
            }
            span.icon_plus_passenger{
                background:  url(../img/nonstick.png);
                width: 40px;
                height: 40px;
                float: right;
            }
            span.has-completed{
                background:  url(../img/stick.png);
            }
        }
    }
}
.infomation_booking{
    .total{
        background: #15558a;
        p{
            padding: 0px 15px 0px 15px;
            color: #ffc423;
            font-size: 40px;
            font-family: 'HelveticaNeueLTStdBdCn';
        }
    }
    .flyght_airport{
        .info_passenger{
            color: #929292;
            font-size: 30px;
            font-family: 'HelveticaNeueLTStdmdCn';
            padding: 0px 15px 0px 15px;
            p{
                border-bottom: 1px solid #ebebeb;
                margin: 15px 0;
                span.price{
                    float: right;
                }
            }
        }
        .additional,.total_price{
            font-size: 30px;
            font-family: 'HelveticaNeueLTStdBdCn';
            padding: 0px 15px 0px 15px;
            color: #464646;
            p{
                border-bottom: 1px solid #ebebeb;
                padding: 15px 0px;
            }
        }
        .total_price{
            border-bottom: none;
            span.price{
                float: right;
            }
        }
    }
    .total_amount{
        background: #15558a;
        p{
            padding: 0px 15px 0px 15px;
            color: #ffc423;
            font-size: 40px;
            font-family: 'HelveticaNeueLTStdBdCn';
            span.price{
                float: right;
            }
        }
    }
}
.booking_finish_infomation{
    .payment_status{
        text-align: center;
        img{
            padding-bottom: 5px;
        }
        p{
            text-transform: uppercase;
            text-align: center;
            font-size: 55px;
            font-family: 'HelveticaNeueLTStdBdCn';
            color: #16568c;
        }
    }
    .booking_number,.booking_total{
        padding: 0px 15px 0px 15px;
        background: #f9f9f9;
        font-size: 40px;
        font-family: 'HelveticaNeueLTStdLtCn';
        color: #626262;
        p{
            margin: 0px;
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
            span.booking_number_detail,span.booking_total_paid{
                font-family: 'HelveticaNeueLTStdBdCn';
                color: #464646;
                float: right;   
            }
        }
    }
    .booking_finish_info {
        text-align: center;
        font-size: 30px;
        font-family: 'HelveticaNeueLTStdLtCn';
        padding: 15px;
        span{
            color: #ed5967;
        }
   }
}

/*begin check in*/
.checkin_step_status{
    width: 100%;
    padding: 18px 0px 20px 0px;
    span.step{
        background: url(../img/step1_4.png);
        width: 578px;
        height: 48px;
        margin: 0 auto;
        display: block;
    }
    span.step1{
        background-position: 0px 0px;
    }
    span.step2{
        background-position: 0px -41px;
    }
    span.step3{
        background-position: 0px -82px;
    }
    span.step4{
        background-position: 0px 40px;
    }
}
.wrap_infomation_checkin{
    .infomation{
        padding: 10px;
        p{
            font-size: 30px;
            font-family: 'HelveticaNeueLTStdLtCn';
            padding-left: 50px;
            background: url(../img/icon_person_uncheck.png);
            background-repeat: no-repeat;
            line-height: 45px;
        }
		.available{
			background: url(../img/available.png) no-repeat;
			padding-left: 55px;
		}
		.unAvailable{
			background: url(../img/unAvailable.png) no-repeat;
			padding-left: 55px;
		}
		.travelingparty{
			background: url(../img/travelingparty.png) no-repeat;
			padding-left: 55px;
		}
		.occupied{
			background: url(../img/occupied.png) no-repeat;
			padding-left: 55px;
		}
    }
    .note_infomation{
        padding: 10px;
        p{
            font-size: 30px;
            font-family: 'HelveticaNeueLTStdLtCn';
            padding-left: 50px;
            background: url(../img/icon_transition.png);
            background-repeat: no-repeat;
            line-height: 45px;
            color: #15558a;
            span{
                color: #e70000;
                font-family: 'HelveticaNeueLTStdBdCn';
            }
        }
    }
}
/*end check in*/

.full-width{
    padding-bottom: 25px;
}
.nofare {
    margin-top: 60px;
    background: #e72133;
    text-align: center;
    p{
       font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 30px;
        color: #fff;
        margin: 0;
        padding: 10px; 
    }
}

.check_in_step2_view{
    .closed{
        background: #bfbfbf !important;
    }
    .waiting{
        background: #bfbfbf !important;
    }
    .checkedin{
        background: #ffc423 !important;
    }
    .checkin{
        background: #7bce10 !important;
    }
    .pre_price{
        cursor: auto !important;
        .package_name{
        }
		.package_name_status{
		    padding-left: 40px;
		    float: right;
			text-decoration: none;
		}
        ._closed{
            background: url(../img/price_sold.png);
            background-repeat: no-repeat;
			background-position: 0px;	
        }
        ._waiting{
            background: url(../img/price_sold.png);
            background-repeat: no-repeat;
			background-position: 0px;	
        }
        ._checkedin{
            background: url(../img/price_sold.png);
            background-repeat: no-repeat;
			background-position: 0px;	
        }
        ._checkin{
            background: url(../img/price_check.png);
            background-repeat: no-repeat;
			background-position: 0px;	
        }
    }
}
.checkin_passenger{
    .passenger{
        border-bottom: none !important;
    }
    p.passenger_name{
        cursor: auto !important;
    }
    p.info_with_infant{
        padding: 0;
        margin-top: -10px;
    }
    span.has-completed{
        width: 40px;
        height: 40px;
        display: inline-block;
        float: right;
    }
    span.has-seat{
        background: url(../img/seat.png);
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        display: inline-block;
        float: right;
        margin-right: 55px;
        padding-left: 35px;
    }
}
.with_infant_no_check_in{
    background: red;
    font-size: 20px;
    font-family: 'HelveticaNeueLTStdBdCn';
    text-align: center;
    color: #fff;
    padding: 0px 10px;
}
.not_payment_detect{
    background: red;
    font-size: 20px;
    font-family: 'HelveticaNeueLTStdBdCn';
    text-align: center;
    color: #fff;
    padding: 0px 10px;
    margin: 25px;
}
.wrap_seatmap table{
    margin: 0 auto;
    thead tr td,tfoot tr td, tbody tr td{
        text-align: center;
        width: 70px;
        padding-bottom: 20px;
    }
}
.seat_row{
    td.td_seat{
        
        span{
            width: 53px;
            height: 43px;
            display: inline-block;
            background-repeat: no-repeat;
        }
        .seat_type_0,.seat_type_1,.seat_type_2,.seat_type_3,.seat_type_4,.seat_type_5,.seat_type_6,.seat_type_7,.seat_type_8{
            background: url(../img/unAvailable.png)center;
            background-repeat: no-repeat;
        }
        .seat_type_9{
            background: url(../img/occupied.png)center;
            background-repeat: no-repeat;
        }
        .seat_type_10{
            background: url(../img/available.png)center;
            background-repeat: no-repeat;
        }
        .seat_type_11{
            background: url(../img/available.png) #f9c4e1 center;
            background-repeat: no-repeat;
        }
        .is_selected{
            background: url(../img/travelingparty.png) !important;   
            background-size: cover;
        }
    }
    
}
.modal-open {
    overflow: scroll !important;
}
.wrap_loading{
    background: url(../img/loading-icon.gif);   
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.readdy_to_flight{
    background: url(../img/ready_flight.png) !important;
    background-repeat: no-repeat !important;
    padding-left: 85px !important;
    background-size: contain !important;
}
.check_in_no_flight{
    text-align: center;
    .no_flight{
        background: url(../img/icon_no_road.png);  
        width: 130px;
        height: 59px;
        margin: 0 auto;
        background-repeat: no-repeat;
        margin-top: 60px;
    }
    h2{
        font-family: 'HelveticaNeueLTStdmdCn';
        font-size: 40px;
        color: #175990;
        margin: 0;
        padding: 10px;
    }
    p{
        font-family: 'HelveticaNeueLTStdBdCn';
        font-size: 35px;
        color: #175990;
        margin: 0;
        padding: 10px; 
    }
}
.flightstatus_passenger_info{
    p{
        margin: 0px 10px;
        font-family: 'HelveticaNeueLTStdLtCn';
        color: #626262;
        font-size: 30px;
        border-top: 1px solid #ebebeb;
        padding: 10px 0px;
        span{
            color: #464646;
            float: right;
            font-family: 'HelveticaNeueLTStdmdCn';
            font-size: 30px;
        }
    }
    p:first-child{
        border-top: none;
    }
}

.login_form{
    input{
        width: 50%;
        margin: 0 auto;
        border: none;
        border-bottom: 1px solid #ccc;
        box-shadow: none !important;
        &::-webkit-input-placeholder { /* WebKit browsers */
            color:    #00467f;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
           color:    #00467f;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
           color:    #00467f;
        }
    }
    .userName{
        background: url(../img/user.png);  
        background-repeat: no-repeat;
        padding: 7px 0px 12px 44px;
        height: 45px;
        color: #00467f;
        font-family: 'HelveticaNeueLTStdmdCn';
        font-size: 30px;
    }
    .userPassword{
        background: url(../img/lock.png);  
        background-repeat: no-repeat;
        padding: 7px 0px 12px 44px;
        height: 45px;
        color: #00467f;
        font-family: 'HelveticaNeueLTStdmdCn';
        font-size: 30px;
    }
    
    .link_wrap_under_button {
        width: 50%;
        margin: 0 auto;
        font-size: 30px;
        font-family: 'HelveticaNeueLTStdLtCn';
        color: #8f8f8f;
        padding-top: 10px;
        a{
            text-decoration: none;
            color: #8f8f8f;
        }
        .left_link{
            float: left;
        }
        .right_link{
            float: right;
        }
    }
}
.userprofile_note{
    font-size: 30px;
    font-family: 'HelveticaNeueLTStdLtCn';
    color: #8f8f8f;
}
.register_finish_infomation{
    .register_detail{
        text-align: center;
        img{
            padding-bottom: 5px;
        }
        h1{
            text-transform: uppercase;
            text-align: center;
            font-size: 109px;
            font-family: 'HelveticaNeueLTStd-UltLtCn';
            color: #185b93;
        }
        p{
            text-align: center;
            font-size: 40px;
            font-family: 'HelveticaNeueLTStdBdCn';
            color: #1a609a;
        }
    }
    .register_finish_info {
        padding-top: 50px;
        text-align: center;
        font-size: 30px;
        font-family: 'HelveticaNeueLTStdLtCn';
        padding: 15px;
        color: #626262;
        span{
            color: #ed5967;
        }
   }
}
.user_profile {
    .infomation_input_user_profile{
        .form-group{
            width: 100%;
        }
    }
}

.userprofile_reservation_info{
    padding: 10px 0px 30px 0px;
    p{
        background: #7bce10;
        margin: 0px 10px;
        font-family: 'HelveticaNeueLTStdmdCn';
        color: #fff;
        font-size: 30px;
        border: 1px solid #ebebeb;
        padding: 10px;
        cursor: pointer;
        span{
            float: right;
            font-family: 'HelveticaNeueLTStdBdCn';
            font-size: 40px;
        }
    }
    p:first-child{
        border-top: none;
    }
}
.wrap_summary_charge{
	p.passenger_name {
		font-size: 16px !important;
		span {
			float: right;
		}
	}
	p{
		font-size: 18px;
	}
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 650px) {
    .expan_ticked_info .detail_flight {
        min-height: 150px;
    }
}
@media screen and (max-width: 640px) {
    .col-sm-2 {
        width: 30%;
        float: left;
    }
    .col-sm-10 {
        width: 70%;
        float: left;
    }
}
@media screen and (max-width: 630px) {
    .nofare {
        p{
           font-size: 16px;
        }
    }
    .col-sm-2 {
        width: 80%;
        float: left;
    }
    .col-sm-10 {
        width: 100%;
        float: left;
    }
    .button_next_step button{
        font-size: 20px;
    }
    ul.index-menu {
        width: 100%;
        li {
            a {
                font-size: 100%;
                background-size: 33px;
                padding: 10px 0 10px 65px;
            }
        }
        li:hover{
            a{
                background: url(../img/icon_pack.png);
                background-repeat: no-repeat;
                color: #fff;
                background-size: 33px;
            }
        }
        li.iconfly a{
            background-position: 20px 15px;
        }
        li.iconcheckin a{
            background-position: 20px -25px;
        }
        li.iconmember a{
            background-position: 20px -65px;
        }
        li.iconstatus a{
            background-position: 20px -100px;
        }
        li.iconinformation a{
            background-position: 20px -135px;
        }
        li.iconlang a{
            background-position: 20px -175px;
        }

    }
    div.on_logo {
        width: 75%;
        h2{
            font-size: 20px;
            line-height: 30px;
        }
        a{
            img{
                width: 100%;
            }
        }
    }
    .logo_header_page{
        height: 50px;
        background-color: #fcd706;
        background-repeat: repeat-x;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcd706), to(#fcd706));
        background: -webkit-linear-gradient(top, #fcd706, #fcd706);
        background: -moz-linear-gradient(top, #fcd706, #fcd706);
        background: -ms-linear-gradient(top, #fcd706, #fcd706);
        background: -o-linear-gradient(top, #fcd706, #fcd706);
    }
    div.on_menu_open {
        position: absolute;
        .onclick_open_menu {
            height: 18px;
            background: url(../img/menu_icon.png);
            background-repeat: no-repeat;
            display: inline-block;
            width: 24px;
            background-size: contain;
            margin: 18px;
            img{
                padding: 34px;
            }
        }
    }
    .home_button{
        top: 15px;
        position: absolute;
        right: 10px;
        z-index: 9999;
        .home_button_top_right{
            height: 21px;
            background: url(../img/home_button.png);
            background-repeat: no-repeat;
            display: inline-block;
            width: 21px;
            background-size: contain;
        }
    }

    .step_status{
        width: 100%;
        padding: 18px 0px 20px 0px;
        span.step{
           background: url(../img/step.png);
            width: 280px;
            height: 23px;
            margin: 0 auto;
            display: block;
            background-size: 100%;
        }
        span.step1{
            background-position: 0px 0px;
        }
        span.step2{
            background-position: 0px -23px;
        }
        span.step3{
            background-position: 0px -46px;
        }
        span.step4{
            background-position: 0px 69px;
        }
        span.step5{
            background-position: 0px 46px;
        }
        span.step6{
            background-position: 0px 23px;
        }
    }
    .flightname{
        p{
            font-size: 16px;
        }
    }

    .flight_from_to {
        span{
            font-size: 30px;
        }
        span.depart {
            background: url(../img/fly_to.png) center;
            background-repeat: no-repeat;
            width: 100%;
        }
    }
    .calendar{
        button.pre_date{
            background-position: 4px 11px;
            height: 32px;
        }
        button.next_date{
            background-position: 6px 10px;
            height: 32px;
        }
        span{
            font-size: 20px;
        }
    }
    .summary_flight{
        font-size: 20px;
        line-height: 30px;
        .icon_close_expan {
            width: 18px;
            height: 18px;
            background-size: contain;
        }
        .price_from{
            font-size: 20px;
            padding: 0px;
            .price_detail{
                font-size: 20px;
            }
        }
        .depart_time{
            text-align: right;
        }
    }
    .expan_ticked_info{
        .detail_flight {
            padding: 0px;
            .indirect_icon_ticked{
                width: 6%;
                background-size: 60%;
                .icon_tick{
                }
            }
            .direct_icon_ticked{
                width: 12%;
                background-size: 60%;
                .icon_tick{
                }
            }
            .transitgroup{
                width: 90%;
                display: table-cell;
                padding: 5px 3px 0px 5px;
                .transit:first-child{
                    .segment_view:first-child{
                        border: none;
                    }
                }
                .transit{
                    height: auto;
                    position: relative;
                    .segment_view{
                        border-top: 1px solid #d5d5d5;
                        margin: 3px 0px;
                    }
                    .time_to_time {
                        width: 70%;
                        float: left;
                        padding: 10px;
                        p{
                            margin: 0px;
                            .fly_to_icon{
                                background-size: contain;
                                width: 30px;
                                height: 12px;
                                margin: 0px 10px 5px 10px;
                            }
                            .time_from,.time_to{
                                font-size: 20px;
                                font-family: 'HelveticaNeueLTStdBdCn';
                            }
                            .name{
                                font-family: 'HelveticaNeueLTStdLtCn';
                                font-size: 20px;
                                color: #000000;
                            }
                        }
                        p.transittime{
                            background: url(../img/transiticon.png) top left #f9f9f9;
                            background-repeat: no-repeat;
                            padding-left: 25px;
                            position: absolute;
                            bottom: -9px;
                            text-align: center;
                            left: 12%;
                            color: #000000;
                        }
                    }
                    .segment_stop {
                        .stop_lable{
                            font-family: 'HelveticaNeueLTStdLtCn';
                            font-size: 20px;
                        }
                        .stop_value{
                            font-family: 'HelveticaNeueLTStdBdCn';
                            font-size: 20px;
                        }
                    }
                    .airport_status{
                        width: 30%;
                        float: right;
                        background: #fff;
                        p{
                            color: #ce3830;
                            font-size: 20px;
                            font-family: 'HelveticaNeueLTStdBdCn';
                            text-decoration: underline;
                        }
                    }
                    .airport_status_640{
                        display: block;
                    }
                    .airport_status_from_640{
                        display: none;
                    }
                }
            }
        }
        .slecttion_package_price{
            margin-bottom: 1px;
            color: #fff;
            div{
                margin-top: 1px;
                background: #ce3830;
                padding-right: 15px;
                cursor: pointer;
                padding: 5px 0px;
                span{
                    font-size: 16px;
                    font-family: 'HelveticaNeueLTStdBdCn';
                }
                .package_price{
                    float: right;
                    padding-right: 5px;
                }
            }
            span.select_tion{
                height: 22px;
                width: 22px;
                display: inline-block;
                vertical-align: -5px;
                margin-right: 10px;
                margin-left: 16px;
            }
            span.uncheck{
                background:  url(../img/price_uncheck.png);
                background-size: contain;
            }
            span.check{
                background:  url(../img/price_check.png);
                background-size: contain;
            }
            .soldout{
                background: #bfbfbf;
                span.select_tion{
                    background:  url(../img/price_sold.png);
                    background-size: contain;
                }
            }
        }
    }
    .control-label{
        font-size: 16px;
    }
    .infomation_passenger{
        .passenger{
            .passenger_name{
                font-size: 20px;
                span.pass_infant{
                }
                span.icon_plus_passenger{
                    width: 25px;
                    height: 25px;
                    background-size: contain;
                }
                span.has-completed{
                    background:  url(../img/stick.png);
                    width: 25px;
                    height: 25px;
                    background-size: contain;
                }
            }
        }
    }
    .infomation_booking{
        .total{
            background: #ce3830;
            p{
                padding: 0px 15px 0px 15px;
                color: #fff;
                font-size: 20px;
                font-family: 'HelveticaNeueLTStdBdCn';
            }
        }
        .flyght_airport{
            .info_passenger{
                color: #929292;
                font-size: 16px;
                font-family: 'HelveticaNeueLTStdmdCn';
                padding: 0px 15px 0px 15px;
                p{
                    border-bottom: 1px solid #ebebeb;
                    margin: 15px 0;
                    span.price{
                        float: right;
                    }
                }
            }
            .additional,.total_price{
                font-size: 20px;
                font-family: 'HelveticaNeueLTStdBdCn';
                padding: 0px 15px 0px 15px;
                color: #464646;
                p{
                    border-bottom: 1px solid #ebebeb;
                    padding: 15px 0px;
                }
            }
            .total_price{
                border-bottom: none;
                span.price{
                    float: right;
                }
            }
        }
        .total_amount{
            background: #ce3830;
            p{
                padding: 0px 15px 0px 15px;
                color: #fff;
                font-size: 20px;
                font-family: 'HelveticaNeueLTStdBdCn';
                span.price{
                    float: right;
                }
            }
        }
    }
    .booking_finish_infomation{
        .payment_status{
            text-align: center;
            img{
                padding-bottom: 5px;
            }
            p{
                text-transform: uppercase;
                text-align: center;
                font-size: 30px;
                font-family: 'HelveticaNeueLTStdBdCn';
                color: #16568c;
            }
        }
        .booking_number,.booking_total{
            padding: 0px 15px 0px 15px;
            background: #f9f9f9;
            font-size: 20px;
            font-family: 'HelveticaNeueLTStdLtCn';
            color: #626262;
            p{
                margin: 0px;
                border-top: 1px solid #ebebeb;
                border-bottom: 1px solid #ebebeb;
                span.booking_number_detail,span.booking_total_paid{
                    font-family: 'HelveticaNeueLTStdBdCn';
                    color: #464646;
                    float: right;   
                }
            }
        }
        .booking_finish_info {
            text-align: center;
            font-size: 20px;
            font-family: 'HelveticaNeueLTStdLtCn';
            padding: 15px;
            span{
                color: #ed5967;
            }
       }
    }
    /*begin check in*/
    .checkin_step_status{
        width: 100%;
        padding: 18px 0px 20px 0px;
        span.step{
            background: url(../img/step1_4.png);
            width: 280px;
            height: 23px;
            margin: 0 auto;
            display: block;
            background-size: 100%;
        }
        span.step1{
            background-position: 0px 0px;
        }
        span.step2{
            background-position: 0px -24px;
        }
        span.step3{
            background-position: 0px -48px;
        }
        span.step4{
            background-position: 0px 23px;
        }
    }
    .wrap_infomation_checkin{
        .infomation{
            padding: 10px;
            p{
                font-size: 20px;
                font-family: 'HelveticaNeueLTStdLtCn';
                padding-left: 50px;
                background: url(../img/icon_person_uncheck.png);
                background-repeat: no-repeat;
                line-height: 45px;
            }
			p.available{
				background: url(../img/available.png);
			}
			p.unAvailable{
				background: url(../img/unAvailable.png);
			}
			p.travelingparty{
				background: url(../img/travelingparty.png);
			}
			p.occupied{
				background: url(../img/occupied.png);
			}
        }
        .note_infomation{
            padding: 10px;
            p{
                font-size: 20px;
                font-family: 'HelveticaNeueLTStdLtCn';
                padding-left: 50px;
                background: url(../img/icon_transition.png);
                background-repeat: no-repeat;
                line-height: 45px;
                color: #15558a;
                span{
                    color: #e70000;
                    font-family: 'HelveticaNeueLTStdBdCn';
                }
            }
        }
    }
    /*end check in*/
    .check_in_step2_view{
        .closed{
            background: #bfbfbf !important;
        }
        .waiting{
            background: #bfbfbf !important;
        }
        .checkedin{
            background: #ffc423 !important;
        }
        .checkin{
            background: #7bce10 !important;
        }
        .pre_price{
            text-align: center;
            cursor: auto !important;
            .package_name{
                background-size: contain !important;
            }
			.package_name_status{
				padding-left: 40px;
			}
            ._closed{
                background: url(../img/price_sold.png);
                background-repeat: no-repeat;
            }
            ._waiting{
                background: url(../img/price_sold.png);
                background-repeat: no-repeat;
            }
            ._checkedin{
                background: url(../img/price_sold.png);
                background-repeat: no-repeat;
            }
            ._checkin{
                background: url(../img/price_check.png);
                background-repeat: no-repeat;
            }
        }
    }
    .checkin_passenger{
        .passenger{
            border-bottom: none !important;
        }
        p.passenger_name{
            cursor: auto !important;
        }
        p.info_with_infant{
            padding: 0;
            margin-top: -10px;
        }
        span.has-completed{
            width: 40px;
            height: 40px;
            display: inline-block;
            float: right;
        }
        span.has-seat{
            background: url(../img/seat.png);
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            display: inline-block;
            float: right;
            margin-right: 55px;
            padding-left: 35px;
            background-size: contain !important;
        }
    }
    .with_infant_no_check_in{
        background: red;
        font-size: 20px;
        font-family: 'HelveticaNeueLTStdBdCn';
        text-align: center;
        color: #fff;
        padding: 0px 10px;
    }
    .not_payment_detect{
        background: red;
        font-size: 20px;
        font-family: 'HelveticaNeueLTStdBdCn';
        text-align: center;
        color: #fff;
        padding: 0px 10px;
        margin: 25px;
    }
    .wrap_seatmap table{
        margin: 0 auto;
        thead tr td,tfoot tr td, tbody tr td{
            text-align: center;
            width: 70px;
            padding-bottom: 0px;
        }
    }
    .seat_row{
        td.td_seat{
            span{
                width: 43px;
                height: 33px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain !important;
            }
            .seat_type_0,.seat_type_1,.seat_type_2,.seat_type_3,.seat_type_4,.seat_type_5,.seat_type_6,.seat_type_7,.seat_type_8{
                background: url(../img/unAvailable.png)center;
                background-repeat: no-repeat;
            }
            .seat_type_9{
                background: url(../img/occupied.png)center;
                background-repeat: no-repeat;
            }
            .seat_type_10{
                background: url(../img/available.png)center;
                background-repeat: no-repeat;
            }
            .seat_type_11{
                background: url(../img/available.png) #f9c4e1 center;
                background-repeat: no-repeat;
            }
            .is_selected{
                background: url(../img/travelingparty.png) !important;   
                background-size: cover !important;
            }
        }
        
    }
    .flightstatus_passenger_info{
        p{
            margin: 0px 10px;
            font-family: 'HelveticaNeueLTStdLtCn';
            color: #626262;
            font-size: 16px;
            border-top: 1px solid #ebebeb;
            padding: 10px 0px;
            span{
                color: #464646;
                float: right;
                font-family: 'HelveticaNeueLTStdmdCn';
                font-size: 20px;
            }
        }
        p:first-child{
            border-top: none;
        }
    }

    ul.information-menu li{
        width: 100%;
        a {
            font-size: 100%;
            /*padding: 28px 0px 5px 10px;*/
        }
    }
    .login_form{ 
        input {
            width: 80%;
        }
        .userName, .userPassword {
            background-size: contain;
            padding: 10px 0px 10px 35px;
            height: 28px;
            font-size: 20px;
        }
        .link_wrap_under_button{
            .right_link {
                float: right;
                font-size: 16px;
            }
        }
    }
    .user_profile{
        .form-group {
            margin: 0px;
            padding-bottom: 10px;
        }
    }
    .register_finish_infomation {
        .register_detail {
            h1{
                font-size: 50px;
            }
            p{
                font-size: 20px;
            }
        }
        .register_finish_info {
            font-size: 16px;
        }
    }
    .userprofile_reservation_info{
        p{
            font-size: 20px;
            span{
                font-size: 20px;
            }
        }
    }
    .userprofile_note{
        font-size: 20px;
    }
}
@media screen and (max-width: 414px) {
    div.on_logo h2 {
        font-size: 14px;
        line-height: 35px;
    }
	#menu-menufooter {
    padding: 15px 0px 35px 80px;
}
    .valuefare {
        padding: 8px;
    }
    .step_status{
        width: 100%;
        padding: 18px 0px 20px 0px;
        span.step{
           background: url(../img/step.png);
            width: 280px;
            height: 23px;
            margin: 0 auto;
            display: block;
            background-size: 100%;
        }
        span.step1{
            background-position: 0px 0px;
        }
        span.step2{
            background-position: 0px -23px;
        }
        span.step3{
            background-position: 0px -46px;
        }
        span.step4{
            background-position: 0px 70px;
        }
        span.step5{
            background-position: 0px 46px;
        }
        span.step6{
            background-position: 0px 23px;
        }
    }
    .summary_flight{
        font-size: 16px;
        line-height: 30px;
        .icon_close_expan {
            width: 16px;
            height: 16px;
            background-size: contain;
        }
        .price_from{
            font-size: 16px;
            padding: 0px;
            .price_detail{
                font-size: 16px;
            }
        }
        .depart_time{
            width: auto;
            display: initial;
            text-align: right;
            float: right;
        }
    }
    .expan_ticked_info{
        .detail_flight {
            .indirect_icon_ticked{
                width: 12%;
                background-size: 60%;
                .icon_tick{
                }
            }
            .direct_icon_ticked{
                width: 12%;
                background-size: 60%;
                .icon_tick{
                }
            }

            .transitgroup{
                .transit{
                    .time_to_time {
                        p{
                            .fly_to_icon{
                            }
                            .time_from,.time_to{
                            }
                            .name{
                                font-size: 16px;
                            }
                        }
                        p.transittime{
                            left: 6.5%;
                        }
                    }
                    .segment_stop {
                        .stop_lable{
                        }
                        .stop_value{
                        }
                    }
                    .airport_status{
                        padding-left: 0px;
                        p{
                            text-align: center;
                        }
                    }
                    .airport_status_640{
                    }
                    .airport_status_from_640{
                    }
                }
            }
        }
        .slecttion_package_price{
            div{
                span{
                }
                .package_price{
                }
            }
            span.select_tion{
            }
            span.uncheck{
            }
            span.check{
            }
            .soldout{
                span.select_tion{
                }
            }
        }
    }
}
