<div id="page" data-role="page">
     <div ng-show="state=='login'">
            <div class="logo_header logo_header_page" align="center">
                <div class="on_menu_open" ng-class="{'on_menu_open_true': dropdownOpenned}">
                    <a class="onclick_open_menu" ng-click="toogleDropdown()"></a>
                </div>

                <div class="on_logo">
                    <h2>{{ title_name }}</h2>
                </div>

                <div class="home_button">
                    <a class="home_button_top_right" href="home"></a>
                </div>
            </div>
            <div class="menu-top-open menu">
                <div class="menu-home-container menu-top-open-container" ng-class="{'menu-top-open-container-true': dropdownOpenned}">
                    <ul id="Ul1" class="menu index-menu cf">
                        <li class="iconfly"><a href="bookingflight" ng-click="toogleDropdown()">{{ 'DATA_BOOKING_FLIGHT' | translate }}</a></li>
                        <!--<li class="iconcheckin"><a href="checkin" ng-click="toogleDropdown()">{{ 'BUTTON_CHECK_IN' | translate }}</a></li>-->
                        <li  ng-if="!isLogin" class="iconmember"><a href="user" ng-click="toogleDropdown()">{{ 'DATA_MEMBER' | translate }}</a></li>
                         <li  ng-if="isLogin" class="iconmember"><a href="user" ng-click="toogleDropdown()">{{ 'DATA_MEMBER' | translate }}</a></li>
                        <!--<li class="iconstatus"><a href="flightstatus" ng-click="toogleDropdown()">{{ 'DATA_FLIGHT_STATUS' | translate }}</a></li>-->
                        <li class="iconinformation"><a href="information" ng-click="toogleDropdown()">{{ 'DATA_INFO' | translate }}</a></li>
                        <li class="iconlang"><a href="contactus" ng-click="toogleDropdown()">{{ 'DATA_CONTACT_IAS' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <header id="masthead" class="site-header" role="banner">
        <div ng-show="state=='home' || state=='login'">
            <div class="logo_header home" align="center">
                <!--<div class="on_menu_open">
                    <a class="onclick_open_menu" href="#">
                        <img src="../app/img/menu_icon.png">
                    </a>
                </div>-->
                <div class="on_logo">
                    <a href="home">
                        <!--<img src="app/img/logo.png" />-->
                        <!--<img src="app/img/viaair/via_air_logo.png"/>-->
                        <!--<img src="app/img/cma/cma_logo.png"/>-->
                        <img src="app/img/logo.png"   width="309px" />
                    </a>
                </div>
            </div>

            <div class="sliders" ng-controller="SliderController">
                <!--<div start-slider></div>-->
                <img src="{{pictures}}" style="width: 98%" alt="GMS" />
            </div>
            <script>
                
            </script>
        </div>
        <div ng-hide="state=='home' || state=='login'">
            <div class="logo_header logo_header_page" align="center">
                <div class="on_menu_open" ng-class="{'on_menu_open_true': dropdownOpenned}">
                    <a class="onclick_open_menu" ng-click="toogleDropdown()"></a>
                </div>

                <div class="on_logo">
                    <h2>{{ title_name }}</h2>
                </div>

                <div class="home_button">
                    <a class="home_button_top_right" href="home"></a>
                </div>
            </div>
            <div class="menu-top-open menu">
                <div class="menu-home-container menu-top-open-container" ng-class="{'menu-top-open-container-true': dropdownOpenned}">
                    <ul id="menu-home" class="menu index-menu cf">
                        <li class="iconfly"><a href="bookingflight" ng-click="toogleDropdown()">{{ 'DATA_BOOKING_FLIGHT' | translate }}</a></li>
                        <!--<li class="iconcheckin"><a href="checkin" ng-click="toogleDropdown()">{{ 'BUTTON_CHECK_IN' | translate }}</a></li>-->
                        <li class="iconmember"><a href="user" ng-click="toogleDropdown()">{{ 'DATA_MEMBER' | translate }}</a></li>
                        <!--<li class="iconstatus"><a href="flightstatus" ng-click="toogleDropdown()">{{ 'DATA_FLIGHT_STATUS' | translate }}</a></li>-->
                        <li class="iconinformation"><a href="information" ng-click="toogleDropdown()">{{ 'DATA_INFO' | translate }}</a></li>
                        <li class="iconlang"><a href="contactus" ng-click="toogleDropdown()">{{ 'DATA_CONTACT_IAS' | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- #begin main -->
    <div id="main" class="site-main">
        <div id="primary" class="content-area">
            <div ui-view='main'></div>
        </div>
        <!-- #primary -->
    </div>
    <!-- #main -->
    <!-- #begin colophon footer -->
    <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="menu-menufooter-container">
            <ul id="menu-menufooter" class="menu fdiv footer-menu">
                <li><a href="http://www.wasaya.com/">Full Site<span>|</span></a></li>
                <!--<li><a href="policy">Policy<span>|</span></a></li>-->
                <li><a href="contactus">Contact<span></span></a></li>
                <!--<li>v1.4.1</li>-->
            </ul>
        </div>
    </footer>
    <!-- #colophon -->
</div>
