﻿<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'DATA_LOADING_DATA' | translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="wrap_loading">
                </div>
            </div>
            
        </div>
    </div>
</div>
