﻿<!--<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker idkey="marker.id" coords="marker.coords" options="marker.options" click="onClick()" events="marker.events" >
            <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                <div>{{title}}</div>
            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>-->

<div class="content_contact_page content_infomation_page cf">
<!--    <div class="form-group cf">
        <label for="passengerGender" class="col-sm-2 control-label">{{ 'DATA_PHONE_NO' | translate }}</label>
        <div class="col-sm-10">
            <div ng-bind-html="contactPhone"></div>
        </div>
    </div>
    <div class="form-group cf">
        <label for="passengerGender" class="col-sm-2 control-label">{{ 'DATA_ADDRESS' | translate }}</label>
        <div class="col-sm-10">
            <div ng-bind-html="contactAddress"></div>
        </div>
    </div>
    <div class="form-group cf">
        <label for="passengerGender" class="col-sm-2 control-label">{{ 'DATA_CONTACT_FOR' | translate }}</label>
        <div class="col-sm-10">
            <div ng-bind-html="contactfor"></div>
        </div>
    </div>-->
    <div ng-bind-html="contactContent" class="content"></div>
</div>
