﻿<div id="content" class="site-content index-content" role="main">
    <div class="menu-information-container">
        <ul id="menu-information" class="menu information-menu cf">
            <li ng-repeat="informationpage in infomationList">
                <a ng-click="choosePage(informationpage.InfoSlug)">{{informationpage.InfoTitle}}</a></li>  
            <li><a href="http://www.wasaya.com/destinations/">{{ 'DATA_DESTINATIONS' | translate }}</a></li>       
            <li><a href="contactus">{{ 'DATA_CONTACT_IAS' | translate }}</a></li>                             
        </ul>
    </div>
</div> <!-- #content -->