﻿<!DOCTYPE html>
<html lang="en" ng-app="gms">
<head ng-controller="HeadController">
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="Shortcut Icon" href="{{favicon}}" type="image/x-icon" />
    <base href="/">

    <!-- SEO Optimization -->
    <title>{{title}}</title>
    <meta name="description" content="{{desc}}" />
    <meta property="og:type" content="{{type}}" />
    <meta property="og:title" content="EXE Corp" />
    <meta property="og:description" content="{{desc}}" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:site_name" content="{{title}}" />

    <!-- Site Script from vender -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="vendor/angular-resource/angular-resource.min.js"></script>
    <script src="vendor/moment/min/moment.min.js"></script>
    <script src="vendor/angular-bootstrap-show-errors/src/showErrors.min.js"></script>
    <script src="vendor/ngstorage/ngStorage.min.js"></script>
    <script src="vendor/accounting.js/accounting.min.js"></script>
    <script src="vendor/bxslider/jquery.bxslider.min.js"></script>
    <script src="vendor/angular-translate/angular-translate.min.js"></script>
    <script src="vendor/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>

    <!-- Angular Strap -->
    <script src="vendor/angular-strap/dist/angular-strap.min.js"></script>
    <script src="vendor/angular-strap/dist/angular-strap.tpl.min.js"></script>

    <!--Maps -->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="vendor/lodash/dist/lodash.min.js"></script>
    <script src="vendor/angular-google-maps/dist/angular-google-maps.min.js"></script>

    <!-- Site Script auto generate -->
    <script src="app/js/gms-1.0.0.js?v=1.4.1"></script>
    <script src="app/js/gms-1.0.0.templates.js?v=1.4.1"></script>

    <!-- Site CSS -->
    <link rel="stylesheet" href="vendor/bxslider/bx_styles/bx_styles.css" />
    <link rel="stylesheet" href="app/css/style_wasaya.css?v=1.4.1" />
    <!--<link rel="stylesheet" href="app/css/style_cma.css" />-->
    <!--<link rel="stylesheet" href="app/css/style_pasco.css" />-->
    <!--<link rel="stylesheet" href="app/css/style_viaair.css" />-->
    <link rel="stylesheet" href="vendor/angular-motion/dist/angular-motion.css" />
</head>
<body ui-view class="home blog single-author">
</body>
</html>

