﻿<div class="fix_content">
     <div class="panel panel-default">
  <div class="panel-heading">Contact</div>
  <div class="panel-body">
    <div class="add_language" id="comment-editor" style="display:none !important">
            <form ng-submit="save()" role="form">
                    <div class="div_btn_hide"><button type="button" onclick="hideAddNew()" class="btn btn-default"> <i class="fa fa-chevron-up">Hide</i></button></div>  
                      <div class="form-group">
                            LanguageName:<select class="form-control" ng-model="currentContact.LanguageCode" ng-options="language.LanguageCode as language.LanguageName for language in languageList"><option value="">--Select language--</option></select>
                      </div>
                      <div class="form-group">
                            Phone:<textarea class="form-control" ng-model="currentContact.ContactPhone"></textarea>
                      </div>
                     <div class="form-group">
                            Address:<textarea class="form-control" ng-model="currentContact.ContactAddress"></textarea>
                      </div>
                     <div class="form-group">
                            Contact for:<textarea class="form-control" ng-model="currentContact.Contactfor"></textarea>
                      </div>  
                     <div class="form-group">
                          InfoContent:<textarea ck-editor ng-model="currentContact.ContactContent" ></textarea>
                     </div>
                     <div class="form-group">
                        Lat: <input class="form-control" type="text" ng-model="currentContact.ContactLat"/>
                    </div>
                     <div class="form-group">
                        Long: <input class="form-control" type="text" ng-model="currentContact.ContactLong"/>
                    </div>
                     
                   <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">Save</span></button>
            </form>
    </div>
   <div class="div_content">
            <div class="div_btn_add"><button type="button" id="btn_addNew" onclick="showAddNew()" class="btn btn-default"><i class="fa fa-plus-circle">Add New</i></button></div> 
              <div class="list_language">
                <table class="tbl_listInfo">
                    <thead>
                        <tr class="tr_header">
                            <th width="50px">No</th>
                            <th width="200px">Phone</th>
                            <th width="200px">Address</th>
                            <th width="100px">Contactfor</th>
                            <th width="200px">CreateOn</th>
                            <th width="200px">CreateBy</th>
                            <th width="200px">UpdateOn</th>
                            <th width="200px">UpdateBy</th>
                            <th width="200px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="contact in contactList">
                        <td>{{$index + 1}}</td>
                  
                        <td>{{contact.ContactPhone}}</td>
                        <td>{{contact.ContactAddress}}</td>
                        <td>{{contact.Contactfor}}</td>
                        <td>{{contact.CreateOn}}</td>
                        <td>{{contact.CreateBy}}</td>
                        <td>{{contact.UpdateOn}}</td>
                        <td>{{contact.UpdateBy}}</td>
                        <td>
                         <button type="button" id="btn_edit" class="btn btn-link" ng-click="editRow($index);"><i class="fa fa-pencil-square-o"></i></button><button type="button" class="btn btn-link" ng-click="deleteRow($index);"><i class="fa fa-times"></i></button> </td>
                    </tr>
                    </tbody>
                </table>
              </div> 
    </div>
       </div>
      </div>
     </div>
</div>
  <script>
      function showAddNew($location) {
              $('.add_language').toggle(800);
      }
      function hideAddNew() {
          $('#comment-editor').toggle(800);
      }
     
    </script>

 