`<div id="wrapper" ng-class="{'nologinfix':isLogin == false}">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-show="isLogin != false">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">GMS CMS</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
           
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><span ng-model="userName"></span> {{userName}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="changepassword"><i class="fa fa-fw fa-user"></i>Change Password</a>
                    </li>
                   <!-- 
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i>Settings</a>
                    </li>-->
                    <li class="divider"></li>
                    <li>
                        <a href="#" ng-click="logout()"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
               <!-- <li class="active">
                    <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a>
                </li>-->
                <li>
                <a href="language"><i class="fa fa-language"></i>Language</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-key"></i> Phrase <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="phrase"><i class="fa fa-angle-double-right"></i>Phrase</a>
                        </li>
                            <li>
                            <a href="languagephrase"><i class="fa fa-angle-double-right"></i>Language Phrase</a>
                        </li>
                         <li>
                            <a href="importlanguagephrase"><i class="fa fa-angle-double-right"></i>Import LanguagePhrase</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="informationpage"><i class="fa fa-info-circle"></i>Information Page</a>
                </li>
                 <li>
                    <a href="farerule"><i class="fa fa-file-text"></i>Fare rule</a>
                </li>
                <li>
                    <a href="contact"><i class="fa fa-fw fa-edit"></i>Contact</a>
                </li>
                 <li>
                    <a href="userlist"><i class="fa fa-users"></i>User list</a>
                </li>
                  <li>
                    <a href="statistics"><i class="fa fa-users"></i>Statistics</a>
                </li>
                 <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-key"></i> Configuration <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo1" class="collapse">
                        <li>
                            <a href="background"><i class="fa fa-angle-double-right"></i>Background</a>
                        </li>
                          <!--  <li>
                            <a href="languagephrase"><i class="fa fa-angle-double-right"></i>Language Phrase</a>
                        </li>
                         <li>
                            <a href="importlanguagephrase"><i class="fa fa-angle-double-right"></i>Import LanguagePhrase</a>
                        </li>-->

                    </ul>
                </li>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper" ng-class="{'nologinfixpage':isLogin == false}">

        <div class="container-fluid">

            <!-- #begin main -->
            <div id="main" class="site-main">
                <div id="primary" class="content-area">
                    <div ui-view='main'></div>
                </div>
                <!-- #primary -->
            </div>
            <!-- #main -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->
</div>
