<div id="content" class="site-content index-content" role="main">
    <div class="menu-home-container">
        <ul id="menu-home" class="menu index-menu cf">
            <!--<li class="iconfly"><a href="bookingflight">{{ 'DATA_BOOK_FLIGHT' | translate }} </a></li>-->
            <li class="iconfly"><a href="bookingflight">{{ 'DATA_BOOKING_FLIGHT' | translate }} </a></li>
            <li class="iconcheckin"><a href="checkin">{{ 'BUTTON_CHECK_IN' | translate }}</a></li>
            <li ng-if="!isLogin" class="iconmember"><a href="login">{{ 'DATA_MEMBER' | translate }}</a></li>
            <li ng-if="isLogin" class="iconmember"><a href="user">{{ 'DATA_MEMBER' | translate }}</a></li>
            <li class="iconstatus"><a href="flightstatus">{{ 'DATA_FLIGHT_STATUS' | translate }}</a></li>
            <li class="iconinformation"><a href="information">{{ 'DATA_INFO' | translate }}</a></li>
            <li class="iconlang"><a href="language">{{ 'DATA_LANGUAGE' | translate }}</a></li>                                
        </ul>
    </div>
</div> <!-- #content -->
