﻿<div class="fix_content">
  <div class="panel panel-default">
     <div class="panel-heading">Language Phrase</div>
      <div class="panel-body">
                <div class="add_language" id="comment-editor" >
                    <form ng-submit="save()" role="form">
                             <!--  <div class="form-group">
                                    File: <input type="file" class="file" ng-file-select="FileUpload($file)" ng-model="FileUploadModel"  multiple>
                                </div>
                                 <button type="submit" class="btn btn-primary"><span class="glyphicons glyphicons-upload">Import</span></button>-->
                       <div >
                          <input type="file" ng-file-select="onFileSelect($files)" file-model="myFile" multiple />
                           </br>
                          <button type="submit" class="btn btn-primary"><span class="glyphicons glyphicons-upload">Import</span></button>
                      </div>
                    </form>
                </div>
        </div>
    </div>
</div>
