﻿<div id="content" class="site-content index-content" role="main">
    <div class="menu-information-container">
        <ul id="menu-information" class="menu information-menu cf">
            <li><a href="home">English</a></li>
            <li><a href="home">Vietnam</a></li>      
            <li><a href="home">ThaiLan</a></li>            
        </ul>
    </div>
</div> <!-- #content -->