﻿<div class="fix_content">
  <div class="panel panel-default">
  <div class="panel-heading">Language Phrase</div>
  <div class="panel-body">
<div class="add_language" id="comment-editor" style="display:none !important">
        <form ng-submit="save()" role="form">
          
                <div class="div_btn_hide"><button type="button" onclick="hideAddNew()" class="btn btn-default"> <i class="fa fa-chevron-up">Hide</i></button></div>    
                    <div class="form-group">
                        LanguageName: <select class="form-control" ng-model="languagePhrase.LanguageID" ng-options="language.LanguageID as language.LanguageName for language in languageList"><option value="">--Select language--</option></select>
                    </div>
                    <div class="form-group">
                        PhraseName:  <select class="form-control" ng-model="languagePhrase.PhraseID" ng-options="phrase.PhraseID as phrase.PhraseName for phrase in phraseList"><option value="">--Select phrase--</option></select>
                    </div>
                    <div class="form-group">
                        PhraseValue: <input class="form-control" type="text" ng-model="languagePhrase.PhraseValue"/>
                    </div>
                     <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">Save</span></button>
        </form>
</div>
<div class="div_content">
           <div class="div_btn_add"><button type="button" onclick="showAddNew()" class="btn btn-default" ><i class="fa fa-plus-circle"></i>Add New</button></div> 
           <!--<div> &nbsp;&nbsp;&nbsp;&nbsp;Filter language:
                <input class="form-control"  type="search" ng-model="LanguageName" placeholder="Filter language..." />  </div>--><div class="form-group">
                        <div>LanguageName: <select class="form-control" ng-model="LanguageName" ng-options="language.LanguageName as language.LanguageName for language in languageList"><option value="">--Select language--</option></select>
                    </div>
               </br>
               &nbsp;&nbsp;&nbsp;&nbsp;Search: <input class="form-control"  type="search" ng-model="q" placeholder="Search language phrase..." /> &nbsp;&nbsp;There are {{results.length}} records. </div>
           <div class="list_language">
            <table class="fix_table">
                <thead>
                    <tr class="tr_header">
                        <th width="50px">No</th>
                        <th width="80px">Language Name</th>
                        <th width="200px">Phrase Name</th>
                        <th width="250px">Phrase Value</th>
                        <th width="100px">Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="languagePhrase in languagePhraseList  | filter:LanguageName | filter:q as results ">
                    <td>{{$index + 1}}</td>
                    <td>{{languagePhrase.LanguageName}}</td>
                    <td style="text-align:left">{{languagePhrase.PhraseName}}</td>
                    <td style="text-align:left">{{languagePhrase.PhraseValue}}</td>
                    <td>
                        <button type="button" id="btn_edit" class="btn btn-link" ng-click="editRow(languagePhrase)"><i class="fa fa-pencil-square-o"></i></button><button type="button" class="btn btn-link" ng-click="deleteRow($index);"><i class="fa fa-times"></i></button> </td>
                </tr>
                </tbody>
            </table>
               </div> 
      
</div>
</div>
      </div>
</div>
</div>
<script>
    function showAddNew($location) {
        $('.add_language').toggle(800);
    }
    function hideAddNew() {
        $('#comment-editor').toggle(800);
    }

    </script>