﻿<div class="fix_content">
  <div class="panel panel-default">
  <div class="panel-heading">Language</div>
  <div class="panel-body">
<div id="comment-editor" style="display:none !important" class="add_language">
        <form ng-submit="save()" role="form">
                <div class="div_btn_hide"><button type="button" onclick="hideAddNew()" class="btn btn-default"> <i class="fa fa-chevron-up">Hide</i></button></div> 
                    <div class="form-group">
			            LanguageName: <input type="text" class="form-control" ng-model="currentLanguage.LanguageName">
                    </div>
                    <div class="form-group">
                        LanguageCode:  <input type="text" class="form-control" maxlength="10" ng-model="currentLanguage.LanguageCode">
                    </div>
                    <div class="form-group">
                        IsDefault: <input type="checkbox" value="" ng-model="currentLanguage.IsDefault"></input>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">Save</span></button>
        </form>
</div>
   
<div class="div_content">
            <div class="div_btn_add"><button type="button" id="btn_addNew" onclick="showAddNew()" class="btn btn-default"><i class="fa fa-plus-circle">Add New</i></button></div> 
            <div class="list_language">
            <table class="fix_table">
                <thead>
                    <tr class="tr_header">
                        <th width="50px">No</th>
                        <th width="200px">Language Name</th>
                        <th width="100px">Language Code</th>
                        <th width="100px">Is Default</th>
                        <th width="150px">Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="language in languageList">
                    <td>{{$index + 1}}</td>
                    <td>{{language.LanguageName}}</td>
                    <td>{{language.LanguageCode}}</td>
                    <td>{{language.IsDefault}}</td>
                    <td>
                        <button type="button" id="btn_edit" class="btn btn-link" ng-click="editRow($index);"><i class="fa fa-pencil-square-o"></i></button><button type="button" class="btn btn-link" ng-click="deleteRow($index);"><i class="fa fa-times"></i></button> </td>
                </tr>
                </tbody>
            </table>
               </div> 
</div>
      </div>
      </div>
    </div>
</div>
<script>
    function showAddNew($location) {
        $('.add_language').toggle(800);

    }
    function hideAddNew() {
        $('#comment-editor').toggle(800);

    }

    </script>