﻿<div class="register_finish_infomation">
    <div class="register_detail">
        <img src="app/img/logo.png" />
        <h1 ng-bind-html="headdingWellcom"></h1>
        <p ng-bind-html="headdingContent"></p>
    </div>

    <div class="register_finish_info" ng-bind-html="contentNote"></div>

</div>
</div>
<div class="button_next_step">
    <button ng-click="toHome()">{{ 'BUTTON_HOME' | translate }}</button>
</div>
