﻿<form class="form-horizontal infomation_passenger" name="registerForm">
    <div class="user_profile">
        <div class="infomation_input_user_profile">
            <div class="flightname">
                <p>{{ 'DATA_CHANGE_PASSWORD' | translate }}</p>
            </div>
             <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_OLD_PASSWORD' | translate }}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Old Password" name="userOldPassword" ng-model="userOldPassword" required>
                </div>
            </div>
             <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_NEW_PASSWORD' | translate }}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="New Password" name="userPassword" ng-model="userPassword" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_VERIFY_PASSWORD' | translate }}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Verify New Password" name="userVerifyPassword" ng-model="userVerifyPassword" data-match="userPassword" required>
                </div>
            </div>
        </div>
    </div>

    <div class="button_next_step">
        <button ng-click="submitUpdateProfile()">{{ 'BUTTON_UPDATE' | translate }}</button>
    </div>
</form>
