﻿<div id="content" class="site-content index-content" role="main">
    <div class="menu-information-container">
        <ul id="menu-information" class="menu information-menu cf">
            <li><a href="updateprofile">{{ 'DATA_UPDATE_PROFILE' | translate }}</a></li>
            <li><a href="bookingflight">{{ 'DATA_BOOKING_FILGHT' | translate }}</a></li>
            <li><a href="reservationhistory">{{ 'DATA_RESERVATION_HISTORY' | translate }}</a></li>
            <li><a href="changepassword">{{ 'DATA_CHANGE_PASSWORD' | translate }}</a></li>
            <li><a href="#" ng-click="logout()">{{ 'DATA_LOGOUT' | translate }}</a></li>       
        </ul>
    </div>
</div> <!-- #content -->