﻿
<form class="form-horizontal login_form" name="registerForm">
    <div class="form-group" show-errors>
        <input type="email" class="form-control userName" placeholder="E-mail address" name="userName" ng-model="userName" required>
    </div>
    <div class="form-group" show-errors>
        <input type="password" class="form-control userPassword" placeholder="*****" name="userPassword" ng-model="userPassword" required>
    </div>
    <div class="button_next_step">
        <button ng-click="login()">{{ 'BUTTON_SIGN_IN' | translate }}</button>
    </div>
    <div class="link_wrap_under_button cf">
        <!--<a class="left_link" href="forgotpassword" >Forgot Password?</a>-->
        <a class="right_link" href="register">{{ 'BUTTON_NEW_HERE_SIGN_UP' | translate }}</a>
        <br />
        
    </div>
</form>
