﻿<form class="form-horizontal infomation_passenger" name="registerForm">
    <div class="user_profile">
        <div class="infomation_input_user_profile">
            <div class="flightname">
                <p>{{ 'DATA_NEW_ACCOUNT' | translate }}</p>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_EMAIL' | translate }}</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Email" name="userEmail" ng-model="userEmail" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_PASSWORD' | translate }}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Password" name="userPassword" ng-model="userPassword" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_VERIFY_PASSWORD' | translate }}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Verify Password" name="userVerifyPassword" ng-model="userVerifyPassword" data-match="userPassword" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <p class="userprofile_note">{{ 'DATA_CHOOSE_QUESTION_ANSWER_VERIFY_IF_FORGET_PWD' | translate }}</p>
                </div>
            </div>

            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_QUESTION' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userQuestion" ng-model="userQuestion" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_ANSWER' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userAnswer" ng-model="userAnswer" required>
                </div>
            </div>
            <div class="flightname">
                <p>{{ 'DATA_ACCOUNT_INFORMATION' | translate }}</p>
            </div>
            <div class="form-group" show-errors>
                <label for="passengerGender" class="col-sm-2 control-label">{{ 'DATA_TITLE' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="userTitle" ng-model="userTitle" required>
                        <option value="">{{ 'DATA_CHOOSE_TITLE' | translate }}</option>
                        <option>Mr</option>
                        <option>Ms</option>
                    </select>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_FIRST_NAME' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userFirstName" ng-model="userFirstName" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_LAST_NAME' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userLastName" ng-model="userLastName" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_DOB' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" data-max-date="today" data-autoclose="1"  data-use-native="true"  name="userBirthday" ng-model="userBirthday" bs-datepicker required>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_MOBILE' | translate }}</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="userMobile" ng-model="userMobile" pattern="[0-9-+() ]+" title="Phone number invalid" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_PASPORT_NO' | translate }}.</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userPasport" ng-model="userPasport" required>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_ADDRESS' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userAddress" ng-model="userAddress" required>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_COUNTRY' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-change="changeCountry()" name="userCountry" ng-model="userCountry" ng-options="country.Code as country.Name for country in countryResult" required>
                        <option value="">{{ 'DATA_SELECT' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group cf" show-errors ng-show="isProvince">
                <label class="col-sm-2 control-label">{{ 'DATA_TOWN_CITY' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="userCity" ng-model="userCity" required ng-options="province.Code as province.Name for province in provinceResult" required>
                        <option value="">{{ 'DATA_SELECT' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group checkbox accept_payment" show-errors>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <label data-placement="bottom-left" data-type="info" data-animation="am-fade-and-scale" bs-tooltip="tooltip">
                        <input type="checkbox" name="checked_payment" ng-model="tooltip.checked" required>
                        {{ 'DATA_READ_UNDERSTOOD_ACCEPTED' | translate }} <a ng-click="termsConditionsHelp()">{{ 'DATA_TERMS_CONDITIONS' | translate }}</a> {{ 'DATA_OF_IAS' | translate }}.
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="button_next_step">
        <button ng-click="submitCreateAccount()">{{ 'BUTTON_CREATE_NEW_ACCOUNT' | translate }}</button>
    </div>
</form>
