﻿<form name="step2Form">
    <div class="infomation_booking">
        <div ng-repeat="reservation in reservationHistoryResults">
            <div class="flightname">
                <p>{{reservation.LegSummary}}</p>
            </div>
            <div class="userprofile_reservation_info">
                <p ng-click="viewReservationDetail(reservation.ReservationNumber)">{{ 'DATA_RESERVATION_NO' | translate }}.<span>{{reservation.ReservationNumber}}</span></p>
            </div>
        </div>
    </div>
</form>
