﻿<form class="form-horizontal infomation_passenger" name="registerForm">
    <div class="user_profile">
        <div class="infomation_input_user_profile">
            <div class="flightname">
                <p>{{ 'DATA_UPDATE_PROFILE' | translate }}</p>
            </div>
            <div class="form-group" show-errors>
                <label for="passengerGender" class="col-sm-2 control-label">{{ 'DATA_TITLE' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="userTitle" ng-model="userTitle" required>
                        <option value="">{{ 'DATA_CHOOSE_TITLE' | translate }}</option>
                        <option>Mr</option>
                        <option>Ms</option>
                    </select>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_FIRST_NAME' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userFirstName" ng-model="userFirstName" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_LAST_NAME' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userLastName" ng-model="userLastName" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_DOB' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" data-max-date="today" data-autoclose="1"  data-use-native="true"  name="userBirthday" ng-model="userBirthday" bs-datepicker required>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_MOBILE' | translate }}</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="userMobile" ng-model="userMobile" pattern="[0-9-+() ]+" title="Phone number invalid" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_PASPORT_NO' | translate }}.</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userPasport" ng-model="userPasport" required>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_ADDRESS' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userAddress" ng-model="userAddress" required>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_COUNTRY' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-change="changeCountry()" name="userCountry" ng-model="userCountry" ng-options="country.Code as country.Name for country in countryResult" required>
                        <option value="">{{ 'DATA_SELECT' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group cf" show-errors ng-show="isProvince">
                <label class="col-sm-2 control-label">{{ 'DATA_TOWN_CITY' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="userCity" ng-model="userCity" required ng-options="province.Code as province.Name for province in provinceResult" required>
                        <option value="">{{ 'DATA_SELECT' | translate }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="button_next_step">
        <button ng-click="submitUpdateProfile()">{{ 'BUTTON_UPDATE' | translate }}</button>
    </div>
</form>
