﻿<div id="content" class="site-content index-content" role="main">
    <div class="menu-information-container">
        <ul id="menu-information" class="menu information-menu cf">
            <li ng-repeat="language in languageList"><a ng-click="chooseLanguage(language.LanguageCode)">{{language.LanguageName}}</a></li>       
        </ul>
    </div>
</div> <!-- #content -->