﻿<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Airport</h4>
            </div>
            <div class="modal-body">
                <div class="wrap_infomation_checkin">
                    <div class="infomation_passenger checkin_passenger">
                        <div class="passenger">
                            <p class="passenger_name">
                                {{airportName}} ({{airportCode}})
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeAirport()">Close</button>
            </div>
        </div>
    </div>
</div>
