﻿<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CHARGE SUMMARY</h4>
            </div>
            <div class="modal-body">
                <div class="wrap_summary_charge">
                    <div class="infomation_passenger">
                        <div class="flightname ">
                            <p>AIR TRANSPORTATION CHARGES</p>
                        </div>
                        <div class="passenger">
                            <p class="passenger_name">
                                {{fareName}}
                                <span class="has-seat">{{farePrice | isoCurrency:Currency:fractionSize}}</span>
                            </p>
                        </div>
                        <div class="flightname">
                            <p>TAXES, FEES AND CHARGES</p>
                        </div>
                        <div ng-repeat="surcharge in surcharges">
                            <div class="passenger" ng-if="surcharge.ApplyToAdult">
                                <p class="passenger_name">
                                    {{surcharge.Description}}
                                <span class="has-seat">{{surcharge.Total | isoCurrency:Currency:fractionSize}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="flightname">
                            <p>TOTAL TO BE APPLIED TO CREDIT </p>
                        </div>
                        <div class="passenger">
                            <p class="passenger_name">
                                <span class="has-seat">{{summaryCharge | isoCurrency:Currency:fractionSize}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeChargeSummaryModal()">Close</button>
            </div>
        </div>
    </div>
</div>
