﻿<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{informationTitle}}</h4>
            </div>
            <div class="modal-body">
                <div class="wrap_infomation_checkin">
                    <div class="infomation_passenger checkin_passenger">
                        <div class="passenger" ng-bind-html="informationContent">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeInformation()">Close</button>
            </div>
        </div>
    </div>
</div>
