﻿<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Seat selection</h4>
            </div>
            <div class="modal-body">
                <div class="wrap_infomation_checkin">
                    <div class="infomation_passenger checkin_passenger">
                        <div class="passenger" ng-repeat="passenger in checkinStep3Data">
                            <p class="passenger_name" ng-click="choosePassenger(passenger)">
                                {{passenger.Firstname ? passenger.Firstname + ' ' + passenger.Lastname : 'Passenger ' + ($index + 1) }}
                                <span class="pass_infant" ng-if="passenger.Infants.length > 0">+ Infant</span>
                                <span class="has-seat" ng-if="passenger.RowNumber && passenger.SeatNumber">{{passenger.RowNumber + passenger.SeatNumber}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="acceptSeat()">Accept</button>
            </div>
        </div>
    </div>
</div>
