﻿<div class="checkin_step_status"><span class="step step4"></span></div>
<form name="step1Form">
    <div class="infomation_booking">
        <div class="wrap_infomation_checkin">
            <div class="flightname">
                <p>{{ 'DATA_FLIGHT' | translate }} {{$index + 1}}: {{DepartureAirportName}} to {{ArrivalAirportName}} - {{checkinStep2.Segments[0].DepartureLocal  | date:'longDate'}}</p>
            </div>
            <div class="valuefare">
                <div class="flight_fly">
                    <div class="expan_ticked_info">
                        <div class="detail_flight">
                            <div class="indirect_icon_ticked" ng-class="{'direct_icon_ticked': checkinStep2.Segments.length == 1}"></div>
                            <div class="transitgroup cf">
                                <div class="transit cf" ng-repeat="segmentOption in checkinStep2.SegmentsTemp">
                                    <div ng-show="segmentOption.checkAirCraft == false" class="segment_view cf">
                                        <div class="time_to_time">
                                            <p class="timesheet">
                                                <span class="time_from">{{segmentOption.DepartureLocal | date:'HH:mm'}}</span>
                                                <span class="fly_to_icon"></span>
                                                <span class="time_to">{{segmentOption.ArrivalLocal | date:'HH:mm'}}</span>
                                            </p>
                                            <p class="flight_name">
                                                <span class="name">{{segmentOption.Flight}} - {{segmentOption.AircraftName}}</span>
                                            </p>
                                        </div>
                                        <div class="airport_status">
                                            <p class="airport_from" ng-click="loadAirportDetail(segmentOption.DepartureAirportCode, segmentOption.DepartureAirportName)">{{segmentOption.DepartureAirportCode}}</p>
                                        <p class="airport_to" ng-click="loadAirportDetail(segmentOption.ArrivalAirportCode, segmentOption.ArrivalAirportName)">{{segmentOption.ArrivalAirportCode}}</p>
                                        </div>
                                    </div>
                                    <div ng-show="segmentOption.checkAirCraft" class="segment_stop cf">
                                        <div>
                                            <span class="stop_lable">{{ 'DATA_STOP' | translate }} {{segmentOption.countStop}}: </span>
                                            <span class="stop_value airport_from" ng-click="loadAirportDetail(segmentOption.DepartureAirportCode, segmentOption.DepartureAirportName)">{{segmentOption.DepartureAirportCode}}</span>
                                            <span class="stop_lable">- {{ 'DATA_CONNECTION' | translate }}: </span>
                                            <span class="stop_value">{{segmentOption.TimeTransit }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slecttion_package_price check_in_step2_view">
                            <div class="pre_price {{checkinStep2.StatusClass}}">
                                <span class="package_name _{{checkinStep2.StatusClass}} readdy_to_flight">{{ 'DATA_READY_FLIGHT' | translate }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="infomation_passenger checkin_passenger">
                <div class="passenger" ng-repeat="passenger in checkinStep2.Passengers">
                    <p class="passenger_name">
                        {{passenger.Firstname ? passenger.Firstname + ' ' + passenger.Lastname : 'Passenger ' + ($index + 1) }}
                    <span class="pass_infant" ng-if="passenger.Infants.length > 0">+ Infant</span>
                        <span class="has-completed" ng-if="passenger.Infants.length == 0"></span>
                        <span class="has-seat" ng-if="passenger.RowNumber && passenger.SeatNumber">{{passenger.RowNumber + passenger.SeatNumber}}</span>

                    </p>
                    <p class="info_with_infant" ng-if="passenger.Infants.length > 0">{{ 'DATA_MESSAGE_WITH_INFANT_CHECKIN_AIRPORT' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="button_next_step">
        <button ng-click="toHome()">{{ 'BUTTON_FINISH' | translate }}</button>
    </div>
</form>
