﻿<div class="checkin_step_status"><span class="step step3"></span></div>
<form name="step31Form">
    <div class="wrap_infomation_checkin">
        <div class="flightname">
            <p>{{ 'DATA_GUESTS_SEATED' | translate }}:</p>
        </div>
        <div class="infomation">
            <p>{{ 'DATA_PHYSICALLY_MENTALLY' | translate }}</p>
            <p>{{ 'DATA_CAPABLE' | translate }}</p>
            <p>{{ 'DATA_MESSAGE_NOT_STAGE_OF_PREGNACY' | translate }}</p>
            <p>{{ 'DATA_MESSAGE_NOT_TRAVELLING_INFANT_NOT_PURCHASE' | translate }}</p>
            <p>{{ 'DATA_SAFETY RESONS' | translate }}</p>
        </div>
    </div>
    <div class="wrap_infomation_checkin">
        <div class="flightname">
            <p>{{ 'DATA_LEGEND' | translate }}</p>
        </div>
        <div class="infomation infomation_help_seat">
            <div>
                <p class="available">{{ 'DATA_SEAT_AVAILABLE' | translate }}.</p>
                <p class="unAvailable">{{ 'DATA_SEAT_UNAVAILABLE' | translate }}.</p>
                <p class="travelingparty">{{ 'DATA_SEAT_TRAVELING_PARTY' | translate }}.</p>
                <p class="occupied">{{ 'DATA_SEAT_OCCUPIED' | translate }}.</p>
            </div>
        </div>
    </div>

    <div class="wrap_infomation_checkin wrap_seatmap">
        <table>
            <thead>
                <td></td>
                <td ng-repeat="seat in seatmap[0]">{{seat.SeatNumber}}</td>
                <td></td>
            </thead>
            <tbody>
                <tr class="seat_row" ng-repeat="seatrow in seatmap">
                    <td>{{$index + 1}}</td>
                    <td class="td_seat" ng-repeat="seat in seatrow" ng-click="chooseSeat(seat)">
                        <span class="seat_type_{{seat.Availability}}"
                            ng-class="{'is_selected': seat.isSelected}"></span>
                    </td>
                    <td>{{$index + 1}}</td>
                </tr>
            </tbody>
            <tfoot>
                <td></td>
                <td ng-repeat="seat in seatmap[0]">{{seat.SeatNumber}}</td>
                <td></td>
            </tfoot>

        </table>
    </div>
    <div class="button_next_step">
        <button ng-click="selectSeat()">{{ 'BUTTON_CHECK_IN' | translate }}</button>
    </div>
</form>
