﻿<div class="checkin_step_status"><span class="step step3"></span></div>
<form name="step1Form">
    <div class="wrap_infomation_checkin">
        <div class="flightname">
            <p>{{ 'DATA_FLIGHT' | translate }} {{$index + 1}}: {{checkinStep2.Segments[0].DepartureAirportName}} to {{checkinStep2.Segments[0].ArrivalAirportName}} - {{checkinStep2.Segments[0].DepartureLocal  | date:'longDate'}}</p>
        </div>
        <div class="infomation_passenger checkin_passenger">
            <div class="passenger" ng-repeat="passenger in checkinStep2.Passengers">
                <p class="passenger_name">
                    {{passenger.Firstname ? passenger.Firstname + ' ' + passenger.Lastname : 'Passenger ' + ($index + 1) }}
                    <span class="pass_infant" ng-if="passenger.Infants.length > 0">+ Infant</span>
                    <span class="has-completed" ng-if="passenger.Infants.length == 0"></span>
                    <span class="has-seat" ng-if="passenger.RowNumber && passenger.SeatNumber">{{passenger.RowNumber + passenger.SeatNumber}}</span>
                    
                </p>
                <p class="info_with_infant" ng-if="passenger.Infants.length > 0">{{ 'DATA_MESSAGE_WITH_INFANT_CHECKIN_AIRPORT' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="button_next_step">
        <button ng-click="confirmSeat()">{{ 'BUTTON_CONFIRM' | translate }}</button>
    </div>
</form>
