﻿<div class="checkin_step_status"><span class="step step1"></span></div>
<form name="step1Form">
    <div class="wrap_infomation_checkin">
        <div class="flightname">
            <p>
                {{ 'DATA_CHECK_IN_ONLINE_NOT_AVAILABLE' | translate }}:
            </p>
        </div>
        <div class="infomation">
            <p>{{ 'DATA_PASSENGER_INFANT' | translate }}.</p>
            <p>{{ 'DATA_PASSENGER_SPECIAL_NEEDS' | translate }}.</p>
            <p>{{ 'DATA_PASSENGER_BOOKING' | translate }}.</p>
        </div>
        <div class="note_infomation">
            <p>{{ 'DATA_CHECK_IN_ONLINE_AVAILABLE' | translate }} <span>48 {{ 'DATA_HOURS' | translate }}</span> {{ 'DATA_CHECK_IN_ONLINE_AVAILABLE_1' | translate }} <span>4 {{ 'DATA_HOURS' | translate }}</span> {{ 'DATA_CHECK_IN_ONLINE_AVAILABLE_2' | translate }}.</p>
        </div>
    </div>
    <div>
        <div class="flightname">
            <p>
                {{ 'DATA_RESERVATION_INFO' | translate }}
            </p>
        </div>
        <div>
            <div class="select_reservation_code">
                <div class="form-group cf"  show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_RESERVATION_CODE' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="tel" 
                            class="form-control" 
                            name="reservationCodeValue" 
                            ng-model="reservationCodeValue" 
                            data-ng-pattern="/^[0-9]+$/"
                            data-ng-minlength="1"
                            maxlength="9"
                            ng-maxlength="9"
                            numbers-only
                            required>
                    </div>
                </div>
            </div>
            <div class="select_firstname">
                <div class="form-group cf" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_FIRST_NAME' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="firstNameValue" ng-model="firstNameValue" required>
                    </div>
                </div>
            </div>
            <div class="select_lastname">
                <div class="form-group cf" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_LAST_NAME' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lastNameValue" ng-model="lastNameValue" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button_next_step">
        <button ng-click="checkInClick()">{{ 'BUTTON_CHECK_IN' | translate }}</button>
    </div>
</form>
