﻿<div class="checkin_step_status" ng-if="vaildResevation  == true"><span class="step step2"></span></div>
<form name="step2Form">
    <div class="infomation_booking" ng-if="vaildResevation  == true">
        <div ng-repeat="s2Leg in s2Legs">
            <div class="flightname">
                <p>{{ 'DATA_FLIGHT' | translate }} {{$index + 1}}: {{s2Leg.DepartureAirportName}} to {{s2Leg.ArrivalAirportName}} - {{s2Leg.Segments[0].DepartureLocal  | date:'longDate'}}</p>
            </div>
            <div class="valuefare">
                <div class="flight_fly">
                    <div class="expan_ticked_info">
                        <div class="detail_flight">
                            <div class="indirect_icon_ticked" ng-class="{'direct_icon_ticked': s2Leg.Segments.length == 1}"></div>
                            <div class="transitgroup cf">
                                <div class="transit cf" ng-repeat="segmentOption in s2Leg.SegmentsTemp">
                                    <div ng-show="segmentOption.checkAirCraft == false" class="segment_view cf">
                                        <div class="time_to_time">
                                            <p class="timesheet">
                                                <span class="time_from">{{segmentOption.DepartureLocal | date:'HH:mm'}}</span>
                                                <span class="fly_to_icon"></span>
                                                <span class="time_to">{{segmentOption.ArrivalLocal | date:'HH:mm'}}</span>
                                            </p>
                                            <p class="flight_name">
                                                <span class="name">{{segmentOption.Flight}} - {{segmentOption.AircraftName}}</span>
                                            </p>
                                        </div>
                                        <div class="airport_status">
                                            <p class="airport_from" ng-click="loadAirportDetail(segmentOption.DepartureAirportCode, segmentOption.DepartureAirportName)">{{segmentOption.DepartureAirportCode}}</p>
                                            <p class="airport_to" ng-click="loadAirportDetail(segmentOption.ArrivalAirportCode, segmentOption.ArrivalAirportName)">{{segmentOption.ArrivalAirportCode}}</p>
                                        </div>
                                    </div>
                                    <div ng-show="segmentOption.checkAirCraft" class="segment_stop cf">
                                        <div>
                                            <span class="stop_lable">{{ 'DATA_STOP' | translate }} {{segmentOption.countStop}}: </span>
                                            <span class="stop_value airport_from" ng-click="loadAirportDetail(segmentOption.DepartureAirportCode, segmentOption.DepartureAirportName)">{{segmentOption.DepartureAirportCode}}</span>
                                            <span class="stop_lable">- {{ 'DATA_CONNECTION' | translate }}: </span>
                                            <span class="stop_value">{{segmentOption.TimeTransit }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slecttion_package_price check_in_step2_view">
                            <div class="pre_price {{s2Leg.StatusClass}}">
                                <span class="select_tion check"></span>
                                <span class="package_name" ng-click="loadFare(s2Leg.Segments[0].PaxList[0].FareIdent)" ng-if="s2Leg.Segments[0].PaxList[0].FareIdent != ''">{{s2Leg.Segments[0].PaxList[0].FareIdent}}</span>
                                <span class="package_name" ng-if="s2Leg.Segments[0].PaxList[0].FareIdent == '' " style="text-decoration: none;">-</span>
                                <span class="package_name package_name_status _{{s2Leg.StatusClass}}">{{s2Leg.Status}}</span>
                            </div>
                        </div>
                    </div>
                    <p class="with_infant_no_check_in" ng-if="s2Leg.countNoInfantNoCheckin == true">{{ 'DATA_MESSAGE_PASSENGER_WITH_INFANT_NOT_CHECKIN_ONLINE' | translate }} </p>
                </div>

            </div>
        </div>
    </div>
    <p class="not_payment_detect" ng-if="checkinStep2DataTotal.ResStatus.Balance > 0">{{ 'DATA_MESSAGE_RESERVATION_BALANCE_OWING' | translate }} {{checkinStep2DataTotal.ResStatus.Balance | isoCurrency:checkinStep2DataTotal.CurrencyInfo.Abbreviation:fractionSize}}. {{ 'DATA_MESSAGE_UNABLE_CHECKIN_BALANCE_PAID' | translate }}.</p>
    <div class="check_in_no_flight" ng-if="vaildResevation  == false">
        <div class="no_flight"></div>
        <h2>{{ 'DATA_MESSAGE_NOT_FLIGHT' | translate }}</h2>
        <p>{{ 'DATA_MESSAGE_CHECK_RESERVATION' | translate }}</p>
    </div>

    <div class="button_next_step" ng-if="(isCheckin == true && checkinStep2DataTotal.ResStatus.Balance <= 0) && (checkcountNoInfantNoCheckinInLeg(s2Legs) == false)">
        <button ng-click="toPassengers()">{{ 'BUTTON_COUNTINUE' | translate }}</button>
    </div>
    <div class="button_next_step" ng-if="checkcountNoInfantNoCheckinInLeg(s2Legs) || vaildResevation == false || isCheckin == false || checkinStep2DataTotal.ResStatus.Balance > 0">
        <button ng-click="toback()">{{ 'BUTTON_BACK' | translate }}</button>
    </div>
</form>
