﻿<!DOCTYPE html>
<html lang="en" ng-app="gms">
<head ng-controller="HeadController">
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="Shortcut Icon" href="{{favicon}}" type="image/x-icon" />
    <base href="/">
    
    <!-- SEO Optimization -->
    <title>{{title}}</title>
    <meta name="description" content="{{desc}}" />
    <meta property="og:type" content="{{type}}" />
    <meta property="og:title" content="EXE Corp" />
    <meta property="og:description" content="{{desc}}" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:site_name" content="{{title}}" />
    

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
 
    <link href="../font/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
        
    <!-- Site CSS -->
    <link rel="stylesheet" href="vendor/bxslider/bx_styles/bx_styles.css" />
    <!--<link rel="stylesheet" href="app/css/style.css" />-->
    <link rel="stylesheet" href="vendor/angular-motion/dist/angular-motion.css" />
    

    <!-- Site Script from vender -->
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/moment/moment.js"></script>
    <script src="vendor/angular-bootstrap-show-errors/src/showErrors.js"></script>
    <script src="vendor/ngstorage/ngStorage.js"></script>
    <script src="vendor/accounting.js/accounting.js"></script>
    <script src="vendor/bxslider/jquery.bxslider.min.js"></script>
    

    <!-- Site Script auto generate -->
    <script src="../app/js/gms-1.0.0.js?v=0.1"></script>
    <script src="../app/js/gms-1.0.0.templates.js?v=0.1"></script>

    <!-- Angular Strap -->
    <script src="vendor/angular-strap/dist/angular-strap.js"></script>
    <script src="vendor/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>

    
    <!--Maps -->
    <script src="vendor/lodash/dist/lodash.js"></script>
    <!--<script src="vendor/lodash/dist/lodash-decipher.js"></script>-->
    <script src='js/jquery.nicescroll.js' type='text/javascript'></script>
    
   <script src="vendor/ckeditor/ckeditor.js"></script>
   

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>     
    <script src="vendor/ng-file-upload/angular-file-upload.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../js/plugins/morris/raphael.min.js"></script>
    <script src="../js/plugins/morris/morris.min.js"></script>
    <script src="../js/plugins/morris/morris-data.js"></script>       
</head>
<body ui-view class="home blog single-author">
    
</body>
</html>

