﻿<div class="step_status"><span class="step step2"></span></div>
<form name="step2Form">
    <div class="full-width cf">
        <ul ng-init="tab = 0" class="step2_tabs step cf">
            <li ng-class="{active:tab===0}" class="left">
                <a ng-click="departTabClick()">{{ 'DATA_DEPART' | translate }}</a>
            </li>
            <li ng-class="{active:tab===1}" ng-show="step1Data.s1RoundTrip == 1" class="right">
                <a ng-click="returnTabClick()">{{ 'DATA_RETURN' | translate }}</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="wrap_fly_selection">
            <div class="flightname">
                <p ng-show="tab == 0">
                    {{ 'DATA_FLIGHT' | translate }} 1: {{s1FromName}} {{ 'DATA_TO' | translate }} {{s1ToName}} - {{step1Data.s1DateStart | date:'longDate'}}
                </p>
                <p ng-show="tab == 1">
                    {{ 'DATA_FLIGHT' | translate }} 2: {{s1ToName}} {{ 'DATA_TO' | translate }} {{s1FromName}} - {{step1Data.s1DateReturn | date:'longDate'}}
                </p>
            </div>
            <div class="flight_from_to" ng-show="tab == 0">
                <span ng-model="step2From">{{s1FromName}} ({{s1FromCode}})</span>
                <span class="depart"></span>
                <span>{{s1ToName}} ({{s1ToCode}})</span>
            </div>
            <div class="flight_from_to" ng-show="tab == 1">
                <span ng-model="step2From">{{s1ToName}} ({{s1ToCode}})</span>
                <span class="depart"></span>
                <span>{{s1FromName}} ({{s1FromCode}})</span>
            </div>
            <div class="calendar">
                <button ng-click="predate()" class="pre_date"></button>
                <span class="dateselected" ng-show="tab == 0">{{step1Data.s1DateStart | date:'longDate'}}</span>
                <span class="dateselected" ng-show="tab == 1">{{step1Data.s1DateReturn | date:'longDate'}}</span>
                <button ng-click="nextdate()" class="next_date"></button>
            </div>
            <div class="no_promo_code" ng-if="step1Data.s1Promocode != null && isCodePromo " ng-class="{'has_promocode':travelOptionPromoSelect.IsValid}">
                <p ng-show="travelOptionPromoSelect.IsValid == false">{{ 'DATA_MESSAGE_PROMO_CODE_INVALID' | translate }}</p>
                <p ng-show="travelOptionPromoSelect.IsValid">{{ 'DATA_PROMO_CODE' | translate }}: {{travelOptionPromoSelect.PromoCode}}</p>
                <p ng-show="travelOptionPromoSelect.IsValid" class="promocode_detail"><span></span>{{travelOptionPromoSelect.Description}}</p>
            </div>

            <div class="nofare" ng-if="!travelOptionSelect.Selected.length">
                <p>
                    <img src="app/img/loading.gif" ng-if="isFinding" />{{findFlights}}
                </p>
            </div>
            <div class="valuefare" ng-model="valueFareCollapse" bs-collapse>
                <div class="flight_fly" ng-repeat="travelOption in travelOptionSelect.Selected">
                    <div class="summary_flight" bs-collapse-toggle>
                        <span class="icon_expan icon_close_expan"></span>
                        <span class="price_from">
                            <span class="price_detail">{{ 'DATA_DEPART' | translate }}: {{travelOption.Legs[0].SegmentOptions[0].Flight.ETDLocal | date:'HH:mm'}} 
                            -
                             {{travelOption.Legs[0].SegmentOptions[travelOption.Legs[0].SegmentOptions.length - 1].Flight.ETALocal | date:'HH:mm'}}</span>
                            <span ng-class="{'has_promotion_code_tag': travelOption.Legs[0].FareOptions.Adultfares[0].Totalfare > travelOption.Legs[0].FareOptions.Adultfares[0].DiscountFareTotal}"></span>
                        </span>
                        <span class="depart_time">{{ 'DATA_FROM' | translate}} {{travelOption.Legs[0].FareOptions.Adultfares[0].DiscountFareTotal + travelOption.Legs[0].surchargesTotalAdult | isoCurrency:travelOption.Legs[0].FareOptions.Adultfares[0].Currency.Abbreviation:fractionSize}}</span>
                    </div>
                    <!--begin tick-->
                    <div class="expan_ticked_info" bs-collapse-target>
                        <div class="detail_flight">
                            <div class="indirect_icon_ticked" ng-class="{'direct_icon_ticked': travelOption.Legs[0].SegmentOptions.length == 1}"></div>
                            <div class="transitgroup cf">
                                <div class="transit cf" ng-repeat="segmentOption in travelOption.Legs[0].SegmentOptionsTemp">
                                    <div ng-show="segmentOption.checkAirCraft == false" class="segment_view cf">
                                        <div class="time_to_time">
                                            <p class="timesheet">
                                                <span class="time_from">{{segmentOption.Flight.ETDLocal | date:'HH:mm'}}</span>
                                                <span class="fly_to_icon"></span>
                                                <span class="time_to">{{segmentOption.Flight.ETALocal | date:'HH:mm'}}</span>
                                            </p>
                                            <p class="flight_name">
                                                <span class="name">{{segmentOption.Flight.Number}} - {{segmentOption.Flight.Aircraft.ModelName}}</span>
                                            </p>
                                        </div>
                                        <div class="airport_status">
                                            <p class="airport_from" ng-click="loadAirportDetail(segmentOption.Flight.DepartureAirport.Code, segmentOption.Flight.DepartureAirport.Name)">{{segmentOption.Flight.DepartureAirport.Code}}</p>
                                            <p class="airport_to" ng-click="loadAirportDetail(segmentOption.Flight.ArrivalAirport.Code, segmentOption.Flight.ArrivalAirport.Name)">{{segmentOption.Flight.ArrivalAirport.Code}}</p>
                                        </div>
                                    </div>
                                    <div ng-show="segmentOption.checkAirCraft" class="segment_stop cf">
                                        <div>
                                            <span class="stop_lable">{{ 'DATA_STOP' | translate }} {{segmentOption.countStop}}: </span>
                                            <span class="stop_value airport_from" ng-click="loadAirportDetail(segmentOption.Flight.DepartureAirport.Code, segmentOption.Flight.DepartureAirport.Name)">{{segmentOption.Flight.DepartureAirport.Code}}</span>
                                            <span class="stop_lable">- {{ 'DATA_CONNECTION' | translate }}: </span>
                                            <span class="stop_value">{{segmentOption.Flight.TimeTransit }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slecttion_package_price">
                            <div class="eco_price cf" ng-click="packagePriceSelect[tab].selected = pricePackage; isSelected(tab, $index, pricePackage, travelOption.Legs[0]); packagePriceSelect[tab].leg=travelOption.Legs[0]" ng-repeat="pricePackage in travelOption.Legs[0].FareOptions.Adultfares">
                                <span class="select_tion uncheck" ng-class="{'check': packagePriceSelect[tab].selected==pricePackage || pricePackage.isChecked}"></span>
                                <span class="package_name" ng-click="loadFare(pricePackage.FareClass)">{{pricePackage.Description}}</span>
                                <span class="package_price" ng-click="loadChargeSummary(travelOption.Legs[0].Surcharges, pricePackage)">{{pricePackage.DiscountFareTotal + travelOption.Legs[0].surchargesTotalAdult | isoCurrency:pricePackage.Currency.Abbreviation:fractionSize}}</span>
                            </div>
                            <!--<div class="bus_price cf soldout">
                                <span class="select_tion uncheck"></span>
                                <span class="package_name">{{ 'DATA_BUSSINESS' | translate }}</span>
                                <span class="package_price">{{ 'DATA_SOLDOUT' | translate }}</span>
                            </div>-->
                        </div>
                    </div>
                    <!--begin tick-->
                </div>
            </div>
        </div>
    </div>
    <div class="button_next_step" ng-show="isFinding == false">
        <button ng-click="submitFlight()">{{ 'BUTTON_COUNTINUE' | translate }}</button>
    </div>
</form>
