﻿<div class="step_status"><span class="step step6"></span></div>
<form name="step6Form">
    <div class="payment_infomation">
        <div class="payment_detail">
            <div class="flightname">
                <p>{{ 'DATA_PAYMENT_DETAIL' | translate }}</p>
            </div>
            <div class="form-group cf" show-errors>
                <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_PAYMENT_METHOD' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="select_payment_method" ng-model="payMedthod.paymentMethod" ng-options="payment.Code as payment.Description for payment in paymentMethodResult" required>
                        <option value="">{{ 'DATA_SELECT' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="extend_payment_selected" ng-if="payMedthod.paymentMethod && payMedthod.paymentMethod != 'PL'">
                <div class="form-group cf" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_CARD_NUMBER' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="tel"
                            class="form-control"
                            name="payCardNumber"
                            ng-model="payMedthod.payCardNumber"
                            required
                            data-credit-card-type
                            data-ng-pattern="/^[0-9]+$/"
                            data-ng-minlength="15"
                            maxlength="16"
                            ng-maxlength="16"
                            placeholder="Card Number">
                    </div>
                </div>
                <div class="form-group cf" show-errors>
                    <label class="col-sm-2 control-label" style="text-decoration: underline;" ng-click="cvvHelp()">{{ 'DATA_CVV' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="tel"
                            class="form-control"
                            name="payCVV"
                            ng-model="payMedthod.payCVV"
                            required
                            placeholder="CVV"
                            data-ng-pattern="/^[0-9]+$/"
                            data-ng-minlength="3"
                            maxlength="4"
                            ng-maxlength="4">
                    </div>
                </div>
                <div class="form-group cf" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_EXPIRED_MONTH' | translate }} </label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="payMedthod.month" name="month" data-card-expiration required>
                            <option ng-repeat="month in months" value="{{$index+1}}">
                            {{$index+1}} - {{month}}</li>
                        </select>
                    </div>
                </div>
                <div class="form-group cf" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_EXPIRED_YEAR' | translate }}</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="payMedthod.year" name="year" required>
                            <option ng-repeat="year in [] | range:13" value="{{$index + currentYear}}">
                            {{$index + currentYear}}</li>
                        </select>
                    </div>
                </div>
                <div class="form-group cf" show-errors>
                    <label for="select_origin" class="col-sm-2 control-label">Name on Credit Card:</label>
                    <!--<div class="col-sm-10">
                        <input type="text" class="form-control" name="payName" ng-model="payMedthod.payName" required>
                    </div>-->
                </div>

                <div class="form-group cf" show-errors>
                     
                <label for="select_origin" class="col-sm-2 control-label">First name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="payFirstName" ng-model="payMedthod.payFirstName" required>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label for="select_origin" class="col-sm-2 control-label">Last name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="payLastName" ng-model="payMedthod.payLastName" required>
                </div>
            </div>
            </div>
        </div>
        <div class="billing_address">
            <div class="flightname">
                <p>{{ 'DATA_BILLING_ADDRESS' | translate }}</p>
            </div>
            <div class="form-group checkbox accept_payment">
                <label data-placement="bottom-left" data-type="info" data-animation="am-fade-and-scale" bs-tooltip="tooltip">
                    <input type="checkbox" name="checked_payment" ng-model="tooltip.checked" ng-init='tooltip.checked=false' ng-click='doIfChecked(tooltip.checked)'>{{ 'DATA_USE_PRIMARY_PAX' | translate }}
                </label>
            </div>
            <div class="form-group cf" show-errors>
                <label for="select_origin" class="col-sm-2 control-label">First name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="billingFirstName" ng-model="payBilling.billingFirstName" required>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label for="select_origin" class="col-sm-2 control-label">Last name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="billingLastName" ng-model="payBilling.billingLastName" required>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_ADDRESS' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="billingAddress" ng-model="payBilling.billingAddress" required>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_COUNTRY' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-change="changeCountry()" name="select_payment_country_billing" ng-model="payBilling.billingSelectCountry" ng-options="country.Code as country.Name for country in countryResult" required>
                        <option value="">{{ 'DATA_SELECT' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group cf" show-errors ng-if="isProvince">
                <label class="col-sm-2 control-label">{{ 'DATA_TOWN_CITY' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="billingCity" ng-model="payBilling.billingCity" required ng-options="province.Code as province.Name for province in provinceResult" required>
                        <option value="">{{ 'DATA_SELECT' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_MOBILE' | translate }}</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="billingMobile" ng-model="payBilling.billingMobile" pattern="[0-9-+() ]+" title="Phone number invalid" required>
                </div>
            </div>
        </div>
        <div class="purchaser_infomation">
            <div class="flightname">
                <p>{{ 'DATA_PURCHASER_INFO' | translate }}</p>
            </div>
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_EMAIL_ADDRESS' | translate }}</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="purchaserEmail" ng-model="payPurchaser.purchaserEmail" required>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_PHONE_NUMBER' | translate }}</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="purchaserPhone" ng-model="payPurchaser.purchaserPhone" pattern="[0-9-+() ]+" title="Phone number invalid" required>
                </div>
            </div>
            <div class="form-group checkbox accept_payment" show-errors>
                <label data-placement="bottom-left" data-type="info" data-animation="am-fade-and-scale" bs-tooltip="tooltip">
                    <input type="checkbox" name="checked_payment" ng-model="tooltip.checked" required>
                    {{ 'DATA_READ_UNDERSTOOD_ACCEPTED' | translate }} <a ng-click="termsConditionsHelp()">{{ 'DATA_TERMS_CONDITIONS' | translate }}</a> {{ 'DATA_OF_IAS' | translate }} ...
                </label>
            </div>
        </div>
    </div>
    <div class="button_next_step">
        <button ng-click="payNow()">{{ 'BUTTON_PAY_NOW' | translate }}</button>
    </div>
</form>
