﻿<div class="step_status"><span class="step step4"></span></div>
<form name="step4Form">
    <div class="flight_addon infomation_passenger">
        <div class="flightname">
            <p>{{ 'DATA_FLIGHT' | translate }} 1: {{s1FromName}} to {{s1ToName}} - {{step1Data.s1DateStart | date:'longDate'}}</p>
        </div>
        <div class="addon_service_for_flight addon_service_for_flight1" ng-model="addonServiceCollapseFlight1" bs-collapse ng-repeat="(sIndex, segment) in step2Data[0].leg.SegmentOptions">
            <div class="flightname">
                <p>{{ 'DATA_SEGMENT' | translate }} {{$index + 1}}: {{segment.Flight.DepartureAirport.Name}} to {{segment.Flight.ArrivalAirport.Name}} - {{segment.Flight.ETD | date:'longDate'}}</p>
            </div>
            <div class="passenger" ng-repeat="passenger in adults">
                <p class="passenger_name" bs-collapse-toggle>
                    {{passenger.firstName ? passenger.firstName + ' ' + passenger.lastName : 'Passenger ' + ($index + 1) }}
                    <span class="pass_infant" ng-if="$index < infants.length">+ {{infants[$index].firstName ? infants[$index].firstName + ' ' + infants[$index].lastName : 'Infant' }}</span>
                    <span class="icon_plus_passenger" ng-class="{'has-completed': passenger.addons[sIndex].baggage}"></span>
                </p>
                <div class="infomation_input_passenger" bs-collapse-target>
                    <div class="flightname" ng-if="checkAddon(addonDepartBaggage, addonDepartMeal, sIndex) == false">
                        <p style="color: red;">{{ 'DATA_MESSAGE_ADDITIONAL_SERVICE' | translate }}</p>
                    </div>
                    <div class="flightname" ng-if="checkBaggage(addonDepartBaggage, sIndex)">
                        <p>{{ 'DATA_BAGGAGE_SERVICES' | translate }}</p>
                    </div>
                    <div class="form-group cf" ng-if="checkBaggage(addonDepartBaggage, sIndex)">
                        <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_BAGGAGE' | translate }}</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="passenger.addons[sIndex].baggage" ng-options="depBaggage as depBaggage.Name for depBaggage in addonDepartBaggage[sIndex].Allocations">
                                <option value="">{{ 'DATA_NO_THANKS' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="flightname" ng-if="checkMeal(addonDepartMeal, sIndex)">
                        <p>{{ 'DATA_MEALS_SERVICES' | translate }}</p>
                    </div>
                    <div class="form-group cf" ng-repeat="meal in addonDepartMeal[sIndex].Allocations">
                        <label for="select_origin" class="col-sm-2 control-label">{{meal.Name}}</label>
                        <div class="col-sm-10">
                            <input type="number" ngmaxlength="1" class="form-control" ng-model="passenger.addons[sIndex].mealQuality[meal.ID].number" numbers-only>
                        </div>
                    </div>
                </div>
            </div>
            <div class="passenger" ng-repeat="child in children">
                <p class="passenger_name" bs-collapse-toggle>
                    {{child.firstName ? child.firstName + ' ' + child.lastName : 'Children ' + ($index + 1) }}
                    <span class="icon_plus_passenger" ng-class="{'has-completed': checkObjectIsEmpty(child.addons[sIndex].baggage) == false}"></span>
                </p>
                <div class="infomation_input_passenger panel-collapse" bs-collapse-target>
                    <div class="flightname" ng-if="checkAddon(addonDepartBaggage, addonDepartMeal, sIndex) == false">
                        <p style="color: red;">{{ 'DATA_MESSAGE_ADDITIONAL_SERVICE' | translate }}</p>
                    </div>
                    <div class="flightname" ng-if="checkBaggage(addonDepartBaggage, sIndex)">
                        <p>{{ 'DATA_BAGGAGE_SERVICES' | translate }}</p>
                    </div>
                    <div class="form-group cf" ng-if="checkBaggage(addonDepartBaggage, sIndex)">
                        <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_BAGGAGE' | translate }}</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="child.addons[sIndex].baggage" ng-options="depBaggage as depBaggage.Name for depBaggage in addonDepartBaggage[sIndex].Allocations">
                                <option value="">{{ 'DATA_NO_THANKS' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="flightname" ng-if="checkMeal(addonDepartMeal, sIndex)">
                        <p>{{ 'DATA_MEALS_SERVICES' | translate }}</p>
                    </div>
                    <div class="form-group cf" ng-repeat="meal in addonDepartMeal[sIndex].Allocations">
                        <label for="select_origin" class="col-sm-2 control-label">{{meal.Name}}</label>
                        <div class="col-sm-10">
                            <input type="number" ngmaxlength="1" class="form-control" ng-model="child.addons[sIndex].mealQuality[meal.ID].number" numbers-only>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flightname" ng-if="step1Data.s1RoundTrip == 1">
            <p>{{ 'DATA_FLIGHT' | translate }} 2: {{s1ToName}} to {{s1FromName}} - {{step1Data.s1DateReturn | date:'longDate'}}</p>
        </div>
        <div class="addon_service_for_flight addon_service_for_flight1" ng-if="step1Data.s1RoundTrip == 1" ng-model="addonServiceCollapseFlight2" bs-collapse ng-repeat="(sIndex, segment) in step2Data[1].leg.SegmentOptions">
            <div class="flightname">
                <p>{{ 'DATA_SEGMENT' | translate }} {{$index + 1}}: {{segment.Flight.DepartureAirport.Name}} to {{segment.Flight.ArrivalAirport.Name}} - {{segment.Flight.ETD | date:'longDate'}}</p>
            </div>
            <div class="passenger" ng-repeat="passenger in adults">
                <p class="passenger_name" bs-collapse-toggle>
                    {{passenger.firstName ? passenger.firstName + ' ' + passenger.lastName : 'Passenger ' + ($index + 1) }}
            <span class="pass_infant" ng-if="$index < infants.length">+ {{infants[$index].firstName ? infants[$index].firstName + ' ' + infants[$index].lastName : 'Infant' }}
            </span>
                    <span class="icon_plus_passenger" ng-class="{'has-completed': passenger.addons[step2Data[0].leg.SegmentOptions.length + sIndex].baggage}"></span>
                </p>
                <div class="infomation_input_passenger panel-collapse" bs-collapse-target>
                    <div class="flightname" ng-if="checkAddon(addonArrivalBaggage, addonArrivalMeal, sIndex) == false">
                        <p style="color: red;">{{ 'DATA_MESSAGE_ADDITIONAL_SERVICE' | translate }}</p>
                    </div>
                    <div class="flightname" ng-if="checkBaggage(addonArrivalBaggage, sIndex)">
                        <p>{{ 'DATA_BAGGAGE_SERVICES' | translate }}</p>
                    </div>
                    <div class="form-group cf" ng-if="checkBaggage(addonArrivalBaggage, sIndex)">
                        <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_BAGGAGE' | translate }}</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="passenger.addons[step2Data[0].leg.SegmentOptions.length + sIndex].baggage" ng-options="arrivalBaggage as arrivalBaggage.Name for arrivalBaggage in addonArrivalBaggage[sIndex].Allocations">
                                <option value="">{{ 'DATA_NO_THANKS' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="flightname" ng-if="checkMeal(addonArrivalMeal, sIndex)">
                        <p>{{ 'DATA_MEALS_SERVICES' | translate }}</p>
                    </div>
                    <div class="form-group cf" ng-repeat="meal in addonArrivalMeal[sIndex].Allocations">
                        <label for="select_origin" class="col-sm-2 control-label">{{meal.Name}}</label>
                        <div class="col-sm-10">
                            <input type="number" ngmaxlength="1" class="form-control" ng-model="passenger.addons[step2Data[0].leg.SegmentOptions.length + sIndex].mealQuality[meal.ID].number" numbers-only>
                        </div>
                    </div>
                </div>
            </div>
            <div class="passenger" ng-repeat="child in children">
                <p class="passenger_name" bs-collapse-toggle>
                    {{child.firstName ? child.firstName + ' ' + child.lastName : 'Children ' + ($index + 1) }}
                    <span class="icon_plus_passenger" ng-class="{'has-completed': checkObjectIsEmpty(child.addons[step2Data[0].leg.SegmentOptions.length + sIndex].baggage) == false }"></span>
                </p>
                <div class="infomation_input_passenger panel-collapse" bs-collapse-target>
                    <div class="flightname" ng-if="checkAddon(addonArrivalBaggage, addonArrivalMeal, sIndex) == false">
                        <p style="color: red;">{{ 'DATA_MESSAGE_ADDITIONAL_SERVICE' | translate }}</p>
                    </div>
                    <div class="flightname" ng-if="checkBaggage(addonArrivalBaggage, sIndex)">
                        <p>{{ 'DATA_BAGGAGE_SERVICES' | translate }}</p>
                    </div>
                    <div class="form-group cf" ng-if="checkBaggage(addonArrivalBaggage, sIndex)">
                        <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_BAGGAGE' | translate }}</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="child.addons[step2Data[0].leg.SegmentOptions.length + sIndex].baggage" ng-options="arrivalBaggage as arrivalBaggage.Name for arrivalBaggage in addonArrivalBaggage[sIndex].Allocations">
                                <option value="">{{ 'DATA_NO_THANKS' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="flightname" ng-if="checkMeal(addonArrivalMeal, sIndex)">
                        <p>{{ 'DATA_MEALS_SERVICES' | translate }}</p>
                    </div>
                    <div class="form-group cf" ng-repeat="meal in addonArrivalMeal[sIndex].Allocations">
                        <label for="select_origin" class="col-sm-2 control-label">{{meal.Name}}</label>
                        <div class="col-sm-10">
                            <input type="number" ngmaxlength="1" class="form-control" ng-model="child.addons[step2Data[0].leg.SegmentOptions.length + sIndex].mealQuality[meal.ID].number" numbers-only>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button_next_step">
        <button ng-click="submitAddon()">{{ 'BUTTON_COUNTINUE' | translate }}</button>
    </div>
</form>
