﻿<div class="step_status"><span class="step step1"></span></div>
<form name="step1Form">
    <div class="full-width cf">
        <ul ng-init="tab = 1" class="step1_tabs step cf">
            <li ng-class="{active:tab===1}" class="left">
                <a href ng-click="tab = 1">Return</a>
            </li>
            <li ng-class="{active:tab===2}" class="right">
                <a href ng-click="tab = 2">One Way</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="select_location">
            <div class="form-group cf" show-errors>
                <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_BOOK_ORIGIN' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="optionOrigin" ng-change="loadDestination()" ng-model="optionOrigin" ng-options="origin.Code as (origin.Name + ' (' + origin.Code + ')') for origin in originResult" required>
                        <option value="">{{ 'DATA_SELECT_OGRIGIN' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label for="select_destination" class="col-sm-2 control-label">{{ 'DATA_BOOK_DESTINATION' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="optionDestination" ng-model="optionDestination" ng-options="destination.Code as (destination.Name + ' (' + destination.Code + ')') for destination in destinationResult" required>
                        <option value="">{{ 'DATA_SELECT_DESTINATION' | translate }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="select_date_start">
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_BOOK_DEPARTDATE' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-change="updateDepartDate()" data-min-date="today" name="dateStart" data-autoclose="1" ng-model="dateStart" bs-datepicker required>
                    <!--<input type="date" class="form-control" ng-change="updateDepartDate()" min="{{today}}" name="dateStart" ng-model="dateStart" required>-->
                </div>
            </div>
        </div>
        <div class="select_date_end" ng-show="tab === 1">
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_BOOK_RETURNDATE' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" data-min-date="{{dateStart}}" name="dateEnd" data-autoclose="1" ng-model="dateEnd" bs-datepicker required>
                    <!--<input type="date" class="form-control" ng-change="updateReturnDate()" min="{{departDateCheck}}" name="dateEnd" ng-model="dateEnd" required>-->
                </div>
            </div>
        </div>
        <div class="select_person">
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_BOOK_ADULT' | translate }}</label>
                <div class="col-sm-10">
                    <!--<input type="number" pattern="\d*" ngmaxlength="1" class="form-control" name="adultsValue" ng-model="adultsValue" ng-change="checkAdults()" name="select_adults" required numbers-only>-->
                    <select class="form-control" name="select_adults" ng-model="adultsValue" ng-change="checkAdults()" required>
                        <option ng-repeat="index in getNumber(AdultsRange) track by $index">{{$index+1}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_BOOK_CHILD' | translate }}</label>
                <div class="col-sm-10">
                    <!--<input type="number" pattern="\d*" ngmaxlength="1" class="form-control" name="childrenValue" ng-model="childrenValue" ng-change="checkChildren()" name="select_children" required numbers-only>-->
                    <select class="form-control" name="select_children" ng-model="childrenValue" ng-change="checkChildren()" required>
                        <option ng-repeat="index in getNumber(ChildrenRange) track by $index">{{$index}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_BOOK_INFANT' | translate }}</label>
                <div class="col-sm-10">
                    <!--<input type="number" pattern="\d*" ngmaxlength="1" class="form-control" name="infantsValue" ng-model="infantsValue" ng-change="checkInfants()" name="select_infants" required numbers-only>-->
                    <select class="form-control" name="select_infants" ng-model="infantsValue" ng-change="checkInfants()" required>
                        <option ng-repeat="index in getNumber(InfantsRange) track by $index">{{$index}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="select_promotion">
            <div class="form-group cf">
                <label class="col-sm-2 control-label">{{ 'DATA_BOOK_PROMO' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="promoCodeValue" ng-model="promoCodeValue">
                </div>
            </div>
        </div>
    </div>
    <div class="check_round_trip" ng-show="tab === 1">
        <input type="hidden" class="" ng-model="S1CurrencyCode">
    </div>
    <div class="button_next_step">
        <button ng-click="findFlightClick()">{{ 'BUTTON_FIND_FLIGHT' | translate }}</button>
    </div>
</form>
