﻿<div class="step_status"><span class="confirm step7"></span></div>
<div class="booking_finish_infomation">
    <div class="payment_status">
        <img src="app/img/flight_confirm.png" />
        <p>{{paymentStatus}}</p>
    </div>
    <div class="booking_number">
        <p>{{ 'DATA_BOOKING_NUMBER' | translate }} <span class="booking_number_detail">{{reservationNumber}}</span></p>
    </div>
    <div class="booking_total">
        <p>{{ 'DATA_TOTAL_PAID' | translate }} <span class="booking_total_paid">{{totalAmount | isoCurrency:s1Data.s1CurrencyCode:fractionSize}}</span></p>
    </div>
    <div class="booking_finish_info" ng-if="s6Data.paymentMethod.paymentMethod == 'PLHUNGNGUYEN'">
        {{ 'DATA_MESSAGE_CHECK_YOUR_EMAIL' | translate }}
    </div>
    <div class="booking_finish_info" ng-if="s6Data.paymentMethod.paymentMethod == 'PL'">
        {{ 'DATA_MESSAGE_ON_HOLD_SUCCESSFUL_1' | translate }} <span>{{onHoldHours}} {{ 'DATA_HOURS' | translate }}</span>. 
        {{ 'DATA_MESSAGE_LEFT_UNPAID' | translate }} <span>{{cancelledDate | date:'EEEE, MMMM dd, yyyy - HH:mm (Z)'}}</span>. {{ 'DATA_MESSAGE_ON_HOLD_SUCCESSFUL_3' | translate }}.
    </div>
    <div class="booking_finish_info">
        {{ 'DATA_THANK_YOU' | translate }}
    </div>
</div>
</div>
<div class="button_next_step">
    <button ng-click="toHome()">{{ 'BUTTON_HOME' | translate }}</button>
</div>
