﻿<div class="step_status"><span class="step step5"></span></div>
<form name="step5Form">
    <div class="infomation_booking">
        <div ng-repeat="s2dataFare in s2Data">
            <div class="flightname">
                <p>{{ 'DATA_FLIGHT' | translate }} {{$index + 1}}: {{s2dataFare.leg.SegmentOptions[0].Flight.DepartureAirport.Name}} {{ 'DATA_TO' | translate }} {{s2dataFare.leg.SegmentOptions[s2dataFare.leg.SegmentOptions.length - 1].Flight.ArrivalAirport.Name}} - {{s2dataFare.leg.DepartureDate  | date:'longDate'}}</p>
            </div>
            <div class="valuefare">
                <div class="flight_fly">
                    <!--<div class="summary_flight">
                        <span class="icon_expan icon_close_expan"></span>
                        <span class="price_from">{{ 'DATA_DEPART' | translate }}: {{s2dataFare.leg.SegmentOptions[0].Flight.ETDLocal | date:'HH:mm'}} - {{s2dataFare.leg.SegmentOptions[0].Flight.ETALocal | date:'HH:mm'}}</span>-->
                    <!--<span class="depart_time">{{ 'DATA_FROM' | translate }}: <span class="price_detail">{{s2dataFare.selected.DiscountFareTotal | isoCurrency:s2dataFare.selected.Currency.Abbreviation:fractionSize}}</span>-->
                    <!--</div>
                -->
                    <div class="expan_ticked_info">
                        <div class="detail_flight">
                            <div class="indirect_icon_ticked" ng-class="{'direct_icon_ticked': s2dataFare.leg.SegmentOptions.length == 1}"></div>
                            <div class="transitgroup cf">
                                <div class="transit cf" ng-repeat="segmentOption in s2dataFare.leg.SegmentOptionsTemp">
                                    <div ng-show="segmentOption.checkAirCraft == false" class="segment_view cf">
                                        <div class="time_to_time">
                                            <p class="timesheet">
                                                <span class="time_from">{{segmentOption.Flight.ETDLocal | date:'HH:mm'}}</span>
                                                <span class="fly_to_icon"></span>
                                                <span class="time_to">{{segmentOption.Flight.ETALocal | date:'HH:mm'}}</span>
                                            </p>
                                            <p class="flight_name">
                                                <span class="name">{{segmentOption.Flight.Number}} - {{segmentOption.Flight.Aircraft.ModelName}}</span>
                                            </p>
                                        </div>
                                        <div class="airport_status">
                                            <p class="airport_from" ng-click="loadAirportDetail(segmentOption.Flight.DepartureAirport.Code, segmentOption.Flight.DepartureAirport.Name)">{{segmentOption.Flight.DepartureAirport.Code}}</p>
                                            <p class="airport_to" ng-click="loadAirportDetail(segmentOption.Flight.ArrivalAirport.Code, segmentOption.Flight.ArrivalAirport.Name)">{{segmentOption.Flight.ArrivalAirport.Code}}</p>
                                        </div>
                                    </div>
                                    <div ng-show="segmentOption.checkAirCraft" class="segment_stop cf">
                                        <div>
                                            <span class="stop_lable">{{ 'DATA_STOP' | translate }} {{segmentOption.countStop}}: </span>
                                            <span class="stop_value airport_from" ng-click="loadAirportDetail(segmentOption.Flight.DepartureAirport.Code, segmentOption.Flight.DepartureAirport.Name)">{{segmentOption.Flight.DepartureAirport.Code}}</span>
                                            <span class="stop_lable">- {{ 'DATA_CONNECTION' | translate }}: </span>
                                            <span class="stop_value">{{segmentOption.Flight.TimeTransit }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slecttion_package_price">
                            <div class="pre_price">
                                <span class="select_tion check"></span>
                                <span class="package_name" ng-click="loadFare(s2dataFare.selected.FareClass)">{{s2dataFare.selected.Description}}</span>
                                <span class="package_price" style="text-decoration: none;">{{s2dataFare.selected.DiscountFareTotal + s2dataFare.leg.surchargesTotalAdult | isoCurrency:s2dataFare.selected.Currency.Abbreviation:fractionSize}}</span>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>

        <div class="total">
            <p>{{ 'DATA_TOTAL' | translate }}</p>
        </div>
        <div class="flyght_airport" ng-repeat="s2dataTotal in s2Data">
            <div class="flightname">
                <p>{{ 'DATA_FLIGHT' | translate }} {{$index + 1}}: {{s2dataTotal.leg.SegmentOptions[0].Flight.DepartureAirport.Name}} {{ 'DATA_TO' | translate }} {{s2dataTotal.leg.SegmentOptions[s2dataTotal.leg.SegmentOptions.length - 1].Flight.ArrivalAirport.Name}} - {{s2dataTotal.leg.DepartureDate  | date:'longDate'}}</p>
            </div>
            <div class="info_passenger">
                <p>{{s3Data.adults.length}} x Adult<span class="price">{{costs[$index].adultCosts + (s3Data.adults.length * s2dataTotal.leg.surchargesTotalAdult) | isoCurrency:s2dataTotal.selected.Currency.Abbreviation:fractionSize}}</span></p>
                <p ng-show="s3Data.children.length > 0">{{s3Data.children.length}} x Child<span class="price">{{costs[$index].childCosts | isoCurrency:s2dataTotal.selected.Currency.Abbreviation:fractionSize}}</span></p>
                <p ng-show="s3Data.infants.length > 0">{{s3Data.infants.length}} x Infant<span class="price">{{ 0 | isoCurrency:s2dataTotal.selected.Currency.Abbreviation:fractionSize}}</span></p>
            </div>
            <div ng-show="isShowAddtional == true" class="additional">
                <p>{{ 'DATA_ADDITIONAL_COSTS' | translate }}</p>
            </div>
            <div class="info_passenger">
                <p ng-repeat="(name,value) in addons[$index]">
                    {{value.count}} x {{name}}<span class="price">{{value.total | isoCurrency:s2dataTotal.selected.Currency.Abbreviation:fractionSize}}</span>
                </p>
            </div>
            <!--<div>
                <div class="info_passenger">
                    <div ng-repeat="surcharge in s2dataTotal.leg.Surcharges">
                        <p ng-if="surcharge.ApplyToAdult">
                            {{s3Data.adults.length}} x {{surcharge.Description}} ({{ 'DATA_BOOK_ADULT' | translate }})<span class="price">{{s3Data.adults.length * surcharge.Total | isoCurrency:s2dataTotal.selected.Currency.Abbreviation:fractionSize}}</span>
                        </p>
                    </div>
                </div>
            </div>-->
            <div ng-show="s3Data.children.length > 0">
                <div class="info_passenger">
                    <div ng-repeat="surcharge in s2dataTotal.leg.Surcharges">
                        <p ng-if="surcharge.ApplyToChild">
                            {{s3Data.children.length}} x {{surcharge.Description}} ({{ 'DATA_BOOK_CHILD' | translate }})<span class="price">{{s3Data.children.length * surcharge.Total | isoCurrency:s2dataTotal.selected.Currency.Abbreviation:fractionSize}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div ng-show="s3Data.infants.length > 0">
                <div class="info_passenger">
                    <div ng-repeat="surcharge in s2dataTotal.leg.Surcharges">
                        <p ng-if="surcharge.ApplyToInfant">
                            {{s3Data.infants.length}} x {{surcharge.Description}} ({{ 'DATA_BOOK_INFANT' | translate }})<span class="price">{{s3Data.infants.length * surcharge.Total | isoCurrency:s2dataTotal.selected.Currency.Abbreviation:fractionSize}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="total_price">
                <p>{{ 'DATA_TOTAL' | translate }}: <span class="price">{{total[$index]+ s2dataTotal.surchargeData.sumSurcharge | isoCurrency:s2dataTotal.selected.Currency.Abbreviation:fractionSize}}</span></p>
            </div>
        </div>
        <div class="total_amount">
            <p>{{ 'DATA_TOTAL_AMOUNT' | translate }} <span class="price">{{totalAmount | isoCurrency:s1Data.s1CurrencyCode:fractionSize}}</span></p>
        </div>
    </div>
    <div class="button_next_step">
        <button ng-click="payment()">{{ 'BUTTON_PAYMENT' | translate }}</button>
    </div>
</form>
