﻿<div class="step_status"><span class="step step3"></span></div>
<form class="form-horizontal infomation_passenger" name="step3Form" ng-model="passengerCollapse" bs-collapse>
    <div class="passenger" ng-repeat="passenger in adults">
        <p class="passenger_name" bs-collapse-toggle>
            {{passenger.firstName ? passenger.firstName + ' ' + passenger.lastName : 'Passenger ' + ($index + 1) }}
            <span class="pass_infant" ng-if="$index < infants.length">+ {{infants[$index].firstName ? infants[$index].firstName + ' ' + infants[$index].lastName : 'Infant' }}
            </span>
            <span class="icon_plus_passenger" ng-class="{'has-completed': passenger.firstName && passenger.lastName && passenger.birthday && passenger.mobile && passenger.email && passenger.passengerAddress && passenger.passengerSelectCountry && passenger.billingCity}" ng-if="$index == 0"></span>
            <span class="icon_plus_passenger" ng-class="{'has-completed': passenger.firstName && passenger.lastName}" ng-if="$index > 0"></span>
        </p>
        <div class="infomation_input_passenger panel-collapse" bs-collapse-target>
            <div ng-if="$index == 0">
                <div class="flightname">
                    <p>{{ 'DATA_PASSENGER_DETAIL' | translate }}</p>
                </div>
                <div class="form-group">
                    <label for="passengerGender" class="col-sm-2 control-label">{{ 'DATA_TITLE' | translate }}</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="passengerGender" ng-model="passenger.gender" ng-init="passenger.gender = 'Mr'">
                            <!--<option value="">{{ 'DATA_CHOOSE_TITLE' | translate }}</option>-->
                            <option>Mr</option>
                            <option>Ms</option>
                            <option>Mrs</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_FIRST_NAME' | translate }}<span style="color: red">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="passengerFirstName" ng-model="passenger.firstName" required>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_LAST_NAME' | translate }}<span style="color: red">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="passengerLastName" ng-model="passenger.lastName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'DATA_PASSPORT_NUMBER' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="passportNumber" ng-model="passenger.passportNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'DATA_PASSPORT_EXPRIRY_DATE' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-min-date="today" data-autoclose="1" name="passportExpiry" ng-model="passenger.passportExpiry" bs-datepicker>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_DOB' | translate }}<span style="color: red">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-max-date="today" data-autoclose="1" data-use-native="true" name="passengerBirthday" ng-model="passenger.birthday" bs-datepicker required>
                        <!--<input type="date" class="form-control" name="passengerBirthday" ng-model="passenger.birthday" required>-->
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_MOBILE' | translate }}<span style="color: red">*</span></label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" name="passengerMobile" ng-model="passenger.mobile" pattern="[0-9-+() ]+" title="Phone number invalid" required>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_EMAIL' | translate }}<span style="color: red">*</span></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="passengerEmail" ng-model="passenger.email" required>
                    </div>
                </div>
                <div class="form-group cf" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_ADDRESS' | translate }}<span style="color: red">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="passengerAddress" ng-model="passenger.passengerAddress" required>
                    </div>
                </div>
                <div class="form-group cf" show-errors>
                    <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_COUNTRY' | translate }}<span style="color: red">*</span></label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-change="changeCountry()" name="select_payment_country_passenger" ng-model="passenger.passengerSelectCountry" ng-options="country.Code as country.Name for country in countryResult" required>
                            <option value="">{{ 'DATA_SELECT' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group cf" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_TOWN_CITY' | translate }}<span style="color: red">*</span></label>
                    <div class="col-sm-10">
                        <select class="form-control" name="passengerCity" ng-model="passenger.billingCity" required ng-options="province.Code as province.Name for province in provinceResult" required>
                            <option value="">{{ 'DATA_SELECT' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div ng-if="$index > 0">
                <div class="flightname">
                    <p>{{ 'DATA_PASSENGER_DETAIL' | translate }}</p>
                </div>
                <div class="form-group">
                    <label for="passengerGender" class="col-sm-2 control-label">{{ 'DATA_TITLE' | translate }}</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="passengerGender" ng-model="passenger.gender" ng-init="passenger.gender = 'Mr'">
                            <!--<option value="">{{ 'DATA_CHOOSE_TITLE' | translate }}</option>-->
                            <option>Mr</option>
                            <option>Ms</option>
                            <option>Mrs</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_FIRST_NAME' | translate }}<span style="color: red">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="passengerFirstName" ng-model="passenger.firstName" required>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-sm-2 control-label">{{ 'DATA_LAST_NAME' | translate }}<span style="color: red">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="passengerLastName" ng-model="passenger.lastName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'DATA_PASSPORT_NUMBER' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="passportNumber" ng-model="passenger.passportNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'DATA_PASSPORT_EXPRIRY_DATE' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-min-date="today" data-autoclose="1" name="passportExpiry" ng-model="passenger.passportExpiry" bs-datepicker>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'DATA_DOB' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-max-date="today" data-autoclose="1"  name="passengerBirthday" ng-model="passenger.birthday" bs-datepicker>
                        <!--<input type="date" class="form-control" name="passengerBirthday" ng-model="passenger.birthday" required>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'DATA_MOBILE' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" name="passengerMobile" ng-model="passenger.mobile" pattern="[0-9-+() ]+" title="Phone number invalid">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'DATA_EMAIL' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="passengerEmail" ng-model="passenger.email">
                    </div>
                </div>
            </div>
            <div class="flightname" ng-if="$index < infants.length">
                <p>{{ 'DATA_INFANT_PASSENGER' | translate }}</p>
            </div>
            <div class="form-group" ng-if="$index < infants.length">
                <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_GENDER' | translate }}</label>
                <div class="col-sm-10">
                    <p class="form-control" style="border: none; padding: 14px 0px;box-shadow: none;">{{ 'DATA_BOOK_GENDER_INFANT' | translate }}</p>
                    <!--<select class="form-control" name="infantTitle" ng-model="infants[$index].gender" required>
                        <option value="">{{ 'DATA_SELECT_GENDER' | translate }}</option>
                        <option value="M">{{ 'DATA_MALE' | translate }}</option>
                        <option value="F">{{ 'DATA_FEMALE' | translate }}</option>
                    </select>-->
                </div>
            </div>
            <div class="form-group" ng-if="$index < infants.length" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_FIRST_NAME' | translate }}<span style="color: red">*</span></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="infantFirstName" ng-model="infants[$index].firstName" required>
                </div>
            </div>
            <div class="form-group" ng-if="$index < infants.length" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_LAST_NAME' | translate }}<span style="color: red">*</span></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="infantLastName" ng-model="infants[$index].lastName" required>
                </div>
            </div>
            <div class="form-group" ng-if="$index < infants.length">
                <label class="col-sm-2 control-label">{{ 'DATA_DOB' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" data-max-date="today" data-autoclose="1" name="infantBirthday" ng-model="infants[$index].birthday" bs-datepicker>
                    <!--<input type="date" class="form-control" name="infantBirthday" ng-model="infants[$index].birthday" >-->
                </div>
            </div>
        </div>
    </div>
    <div class="passenger" ng-repeat="child in children">
        <p class="passenger_name" bs-collapse-toggle>
            {{child.firstName ? child.firstName + ' ' + child.lastName : 'Children ' + ($index + 1) }}
            <span class="icon_plus_passenger" ng-class="{'has-completed': child.gender && child.firstName && child.lastName}"></span>
        </p>
        <div class="infomation_input_passenger panel-collapse" bs-collapse-target>
            <div class="flightname">
                <p>{{ 'DATA_CHILDREN_DETAILS' | translate }}</p>
            </div>
            <div class="form-group">
                <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_TITLE' | translate }}</label>
                <div class="col-sm-10">
                    <p class="form-control" style="border: none; padding: 14px 0px;box-shadow: none;">{{ 'DATA_BOOK_GENDER_CHILD' | translate }}</p>
                    <!--<select class="form-control" name="childGender" ng-model="child.gender" required>
                        <option value="">{{ 'DATA_CHOOSE_TITLE' | translate }}</option>
                        <option>Mr</option>
                        <option>Ms</option>
                        <option>Mrs</option>
                    </select>-->
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_FIRST_NAME' | translate }}<span style="color: red">*</span></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="childFirstName" ng-model="child.firstName" required>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_LAST_NAME' | translate }}<span style="color: red">*</span></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="childLastName" ng-model="child.lastName" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ 'DATA_DOB' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" data-max-date="today" data-autoclose="1" name="childBirthday" ng-model="child.birthday" bs-datepicker>
                    <!--<input type="date" class="form-control" name="childBirthday" ng-model="child.birthday">-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ 'DATA_MOBILE' | translate }}</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" name="childMobile" ng-model="child.mobile" pattern="[0-9-+() ]+" title="Phone number invalid">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ 'DATA_EMAIL' | translate }}</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="childEmail" ng-model="child.email">
                </div>
            </div>
        </div>
    </div>
    <div class="button_next_step">
        <button ng-click="submitPassenger()">{{ 'BUTTON_COUNTINUE' | translate }}</button>
    </div>
</form>

