﻿<div class="fix_content">
  <div class="panel panel-default">
  <div class="panel-heading">Phrase</div>
  <div class="panel-body">
<div id="comment-editor" style="display:none !important" class="add_language">
        <form ng-submit="save()" role="form">
                <div class="div_btn_hide"><button type="button" onclick="hideAddNew()" class="btn btn-default"> <i class="fa fa-chevron-up">Hide</i></button></div> 
                    <div class="form-group">
			            Phrase Name: <input type="text" class="form-control" ng-model="currentPhrase.PhraseName">
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">Save</span></button>
        </form>
</div>
   
<div class="div_content">
            <div class="div_btn_add"><button type="button" id="btn_addNew" onclick="showAddNew()" class="btn btn-default"><i class="fa fa-plus-circle">Add New</i></button></div> 
            <div class="list_language">
            <table class="fix_table">
                <thead>
                    <tr class="tr_header">
                        <th width="50px">No</th>
                        <th width="200px">Phrase Name</th>
                        <th width="150px">Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="phrase in phraseList | filter: q as results">
                    <td>{{$index + 1}}</td>
                    <td style="text-align:left">{{phrase.PhraseName}}</td>
                    <td>
                        <button type="button" id="btn_edit" class="btn btn-link" ng-click="editRow($index);"><i class="fa fa-pencil-square-o"></i></button><button type="button" class="btn btn-link" ng-click="deleteRow($index);"><i class="fa fa-times"></i></button> </td>
                </tr>
                </tbody>
            </table>
               </div> 
</div>
</div>
      </div>
</div>
</div>
<script>
    function showAddNew($location) {
        $('.add_language').toggle(800);
    }
    function hideAddNew() {
        $('#comment-editor').toggle(800);
    }

    </script>