﻿<div class="fix_content">
     <div class="panel panel-default">
  <div class="panel-heading">Fare rule list</div>
  <div class="panel-body">
    <div class="add_language" id="comment-editor" style="display:none !important">
            <form ng-submit="save()" role="form">
                    <div class="div_btn_hide"><button type="button" onclick="hideAddNew()" class="btn btn-default"> <i class="fa fa-chevron-up">Hide</i></button></div>  
                     <div class="form-group">
                            Language name:<select class="form-control" ng-model="currentFarerule.LanguageCode" aria-readonly ><option value="">--All languages--</option></select>
                      </div>
                      <div class="form-group">
                            Info title:<input type="text" class="form-control" ng-model="currentFarerule.InfoTitle">
                      </div>
                     <div class="form-group">
                          Info slug:<input type="text"  class="form-control" ng-model="currentFarerule.InfoSlug">
                     </div>    
                     <div class="form-group">
                          Info description:<textarea  class="form-control" ng-model="currentFarerule.InfoDescription"/>
                     </div>
                     <div class="form-group">
                          Info content:<textarea ck-editor ng-model="currentFarerule.InfoContent" ></textarea>
                         
                     </div>
                     
                   <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">Save</span></button>
            </form>
    </div>
   <div class="div_content">
            <div class="div_btn_add"><button type="button" id="btn_addNew" onclick="showAddNew()" class="btn btn-default"><i class="fa fa-plus-circle">Add New</i></button></div> 
               <div class="list_language">
                <table class="tbl_listInfo">
                    <thead>
                        <tr class="tr_header">
                            <th width="50px">No</th>
                            <th width="200px">Info Title</th>
                            <th width="200px">Info Description</th>
                            <th width="100px">Info Slug</th>
                            <th width="200px">Create On</th>
                            <th width="200px">Create By</th>
                            <th width="200px">Update On</th>
                            <th width="200px">Update By</th>
                            <th width="200px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="farerule in fareRuleList">
                        <td>{{$index + 1}}</td>
                  
                        <td>{{farerule.InfoTitle}}</td>
                        <td>{{farerule.InfoDescription}}</td>
                        <td>{{farerule.InfoSlug}}</td>
                        <td>{{farerule.CreateOn}}</td>
                        <td>{{farerule.CreateBy}}</td>
                        <td>{{farerule.UpdateOn}}</td>
                        <td>{{farerule.UpdateBy}}</td>
                        <td>
                          <button type="button" class="btn btn-link" ng-click="viewRow(farerule.InfoSlug)"><span class="glyphicon glyphicon-eye-open">[View]</span></button></td>
                    </tr>
                    </tbody>
                </table>
              </div> 
    </div>
       </div>
          </div>
</div>
 <script>
     function showAddNew($location) {
         $('.add_language').toggle(800);
     }
     function hideAddNew() {
         $('#comment-editor').toggle(800);
     }

    </script>
  