﻿<div class="fix_content">
    <div class="panel panel-default">
         <div class="panel-heading">Change Password</div>
              <div class="panel-body">
                        <div id="comment-editor"class="add_language">
                                <form ng-submit="changepass()" role="form">
                                            <div class="form-group">
			                                   Current Password: <input type="password" class="form-control" ng-model="currentUser.CurrentPassword">
                                            </div>
                                            <div class="form-group">
                                               New Password:  <input type="password" class="form-control" ng-model="currentUser.NewPassword">
                                            </div>
                                            <div class="form-group">
                                               Confirm Password:  <input type="password" class="form-control" ng-model="currentUser.ConfirmPassword">
                                            </div>
                                           
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">Change</span></button>
                                </form>
                        </div>
            </div>
    </div>
</div>
<script>
    function showAddNew($location) {
        $('.add_language').toggle(800);
    }
    function hideAddNew() {
        $('#comment-editor').toggle(800);
    }

    </script>
