﻿<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue</h1>
            <div class="account-wall">
                <img class="profile-img" src="app/img/icon-profile.png"
                    alt="">
                <form class="form-signin" name="registerForm">
                    <input type="text" class="form-control" placeholder="Email" ng-model="userName" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" ng-model="userPassword" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">
                        Sign in</button>
                  <!--  <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    <a href="#" class="pull-right need-help">Need help? </a>-->
                    <span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
</div>
