﻿<div class="fix_content">
<div class="panel panel-default">
  <div class="panel-heading">User</div>
  <div class="panel-body">
<div id="comment-editor" style="display:none !important" class="add_language">
        <form ng-submit="save()" role="form">
                <div class="div_btn_hide"><button type="button" onclick="hideAddNew()" class="btn btn-default"> <i class="fa fa-chevron-up">Hide</i></button></div> 
                    <div class="form-group">
			            Email: <input type="text" class="form-control" ng-model="currentUser.Email">
                    </div>
                    <div class="form-group">
                        DisplayName:  <input type="text" class="form-control" ng-model="currentUser.DisplayName">
                    </div>
                    <div class="form-group" id="password" style="display:none !important">
                        Password:  <input type="password" class="form-control" ng-model="currentUser.Password">
                    </div>
                    <div class="form-group" id="role" style="display:none !important">
                        Role: <input type="checkbox" ng-checked ="currentUser.Role" />
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">Save</span></button>
        </form>
</div>
   
<div class="div_content">
            <div class="div_btn_add"><button type="button" id="btn_addNew" onclick="showAddNew()" class="btn btn-default"><i class="fa fa-plus-circle">Add New</i></button></div> 
            <div class="list_language">
            <table class="fix_table">
                <thead>
                    <tr class="tr_header">
                        <th width="50px">No</th>
                        <th width="250px">Email</th>
                        <th width="200px">DisplayName</th>
                        <th width="250px">CreateOn</th>
                        <th width="100px">Is Admin</th>
                        <th width="150px">Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in userList">
                    <td>{{$index + 1}}</td>
                    <td>{{user.Email}}</td>
                    <td>{{user.DisplayName}}</td>
                    <td>{{user.CreateOn}}</td>
                    <td>{{user.Role}}</td>
                    <td>
                        <button type="button" id="btn_edit" class="btn btn-link" ng-click="editRow($index);"><i class="fa fa-pencil-square-o"></i></button><button type="button" class="btn btn-link" ng-click="deleteRow($index);"><i class="fa fa-times"></i></button> </td>
                </tr>
                </tbody>
            </table>
               </div> 
</div>
</div>
    </div>
</div>
</div>
<script>
    function showAddNew($location) {
        $('.add_language').toggle(800);
        $(' #password').show();
        $(' #role').show();
    }
    function hideAddNew() {
        $('#comment-editor').toggle(800);
    }

    </script>