﻿<div class="fix_content">
    <div class="panel panel-default">
        <div class="panel-heading">Statistics</div>
        <div class="panel-body">
            <div class="add_language" id="comment-editor">
                <form role="form">

                    <div class="form-group">
                        From:
                       <input type="text" class="form-control" ng-change="updateDepartDate()" name="dateFrom" data-autoclose="1" ng-model="dateFrom" bs-datepicker required>
                    </div>
                    <div class="form-group">
                        To: 
                      <input type="text" class="form-control" data-min-date="{{dateFrom}}" name="dateTo" ng-model="dateTo" bs-datepicker required>
                    </div>

                    <button type="submit" ng-click="report1(dateFrom,dateTo)" class="btn btn-primary">View</button>
                </form>
            </div>
            <div class="div_content">
                <div class="list_language">
                    <table class="tbl_listInfo">
                        <thead>
                            <tr class="tr_header">
                                <th width="50px">No</th>
                                <th width="200px">Date</th>
                                <th width="100px">Booking</th>
                                <th width="100px">CheckIn</th>
                                <th width="100px">Flight Status</th>
                                <th width="100px">Member</th>
                                <th width="100px">Information</th>
                                <th width="100px">Language</th>
                                <th width="100px">CompleteBooking</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="report1 in statisticsList">
                                <td>{{$index + 1}}</td>

                                <td>{{report1.CreatedDate}}</td>
                                <td ng-init="statisticsList.total.Booking = statisticsList.total.Booking + report1.Booking">{{report1.Booking}}</td>
                                <td ng-init="statisticsList.total.CheckIn = statisticsList.total.CheckIn + report1.CheckIn">{{report1.CheckIn}}</td>
                                <td ng-init="statisticsList.total.FlightStatus = statisticsList.total.FlightStatus + report1.FlightStatus">{{report1.FlightStatus}}</td>
                                <td ng-init="statisticsList.total.Member = statisticsList.total.Member + report1.Member">{{report1.Member}}</td>
                                <td ng-init="statisticsList.total.Information = statisticsList.total.Information + report1.Information">{{report1.Information}}</td>
                                <td ng-init="statisticsList.total.Language = statisticsList.total.Language + report1.Language">{{report1.Language}}</td>
                                <td ng-init="statisticsList.total.CompleteBooking = statisticsList.total.CompleteBooking + report1.CompleteBooking">{{report1.CompleteBooking}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total</td>
                                <td>{{statisticsList.total.Booking}}</td>
                                <td>{{statisticsList.total.CheckIn}}</td>
                                <td>{{statisticsList.total.FlightStatus}}</td>
                                 <td>{{statisticsList.total.Member}}</td>
                                <td>{{statisticsList.total.Information}}</td>
                                <td>{{statisticsList.total.Language}}</td>
                                <td>{{statisticsList.total.CompleteBooking}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
