<div id="content" class="site-content index-content" role="main">
    <div class="menu-home-container">
        <ul id="menu-home" class="menu index-menu cf">
            <li class="iconfly"><a href="bookingflight">Book a Flight</a></li>
            <li class="iconcheckin"><a href="checkin">Check in</a></li>
            <li class="iconmember"><a href="home">Member</a></li>
            <li class="iconstatus"><a href="flightstatus">Flight Status</a></li>
            <li class="iconinformation"><a href="information">Information</a></li>
            <li class="iconlang"><a href="language">Language</a></li>                                
        </ul>
    </div>
</div> <!-- #content -->