﻿<form name="step1Form">
    <div>
        <div class="flightstatustitle">
            <p>{{ 'DATA_TITLE_SEARCH_FLIGHT' | translate }}</p>
        </div>
        <div class="select_location">
            <div class="form-group cf" show-errors>
                <label for="select_origin" class="col-sm-2 control-label">{{ 'DATA_BOOK_ORIGIN' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="optionOrigin" ng-change="loadDestination()" ng-model="optionOrigin" ng-options="origin.Code as (origin.Name + ' (' + origin.Code + ')') for origin in originResult">
                        <option value="">{{ 'DATA_SELECT_OGRIGIN' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group cf" show-errors>
                <label for="select_destination" class="col-sm-2 control-label">{{ 'DATA_BOOK_DESTINATION' | translate }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="optionDestination" ng-model="optionDestination" ng-options="destination.Code as (destination.Name + ' (' + destination.Code + ')') for destination in destinationResult">
                        <option value="">{{ 'DATA_SELECT_DESTINATION' | translate }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="select_date_start">
            <div class="form-group cf" show-errors>
                <label class="col-sm-2 control-label">{{ 'DATA_BOOK_DEPARTDATE' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="dateStart" data-autoclose="1" ng-model="dateStart" bs-datepicker required>
                    <!--<input type="date" class="form-control" ng-change="updateDepartDate()" min="{{today}}" name="dateStart" ng-model="dateStart" required>-->
                </div>
            </div>
        </div>
        <div class="select_promotion">
            <div class="form-group cf">
                <label class="col-sm-2 control-label">{{ 'DATA_FLIGHT_NUMBER' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="flightNumber" ng-model="flightNumber">
                </div>
            </div>
        </div>
    </div>
    <div class="button_next_step">
        <button ng-click="flightStatus()">{{ 'DATA_TITLE_SEARCH_FLIGHT' | translate }}</button>
    </div>
</form>
