﻿<form name="step1Form">
    <div class="wrap_infomation_checkin" ng-repeat="leg in flightstatusStep2.Legs">
        <div class="flightname">
            <p>{{ 'DATA_FLIGHT' | translate }} {{leg.LegNumber}}: {{leg.Segments[0].DepartureAirportName}} {{ 'DATA_TO' | translate }} {{leg.Segments[leg.Segments.length -1].ArrivalAirportName}} - {{leg.Segments[0].DepartureLocal  | date:'longDate'}}</p>
        </div>
        <div class="infomation_passenger checkin_passenger">
            <div class="passenger" ng-repeat="passenger in flightstatusStep2.Passengers">
                <p class="passenger_name">
                    {{passenger.Firstname ? passenger.Firstname + ' ' + passenger.Lastname : 'Passenger ' + ($index + 1) }}
                    <span class="pass_infant" ng-if="passenger.Infants.length > 0">+ {{ 'DATA_BOOK_INFANT' | translate }}</span>
                    <span ng-repeat="pax in leg.Segments[0].PaxList">
                        <span class="has-completed" ng-if="(pax.PaxGroupID == passenger.PaxGroupID) && (pax.RowNumber && pax.SeatNumber)"></span>
                        <span class="has-seat" ng-if="(pax.PaxGroupID == passenger.PaxGroupID) && (pax.RowNumber && pax.SeatNumber)">{{pax.RowNumber + pax.SeatNumber}}
                        </span>
                    </span>
                </p>
                <p class="info_with_infant" ng-if="passenger.Infants.length > 0">{{ 'DATA_MESSAGE_WITH_INFANT_CHECKIN_AIRPORT' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="button_next_step">
        <button ng-click="toHome()">{{ 'BUTTON_SEARCH_OTHER' | translate }}</button>
    </div>
</form>
