﻿<form name="step2Form">
    <div class="infomation_booking">
        <div>
            <div class="flightstatustitle">
                <p>{{ 'DATA_FLIGHT' | translate }} {{ 'DATA_INFO' | translate }}</p>
            </div> 
        </div>
        <div ng-repeat="item in itemFlights">
            <div class="flighstatusinfo">
                <div class="boxflight">
                    <p>
                        {{item.DepartureAirport.Name}} ({{item.DepartureAirport.Code}}) 
                        <img src="../app/img/flightIcon.png" />
                         {{item.ArrivalAirport.Name}} ({{item.ArrivalAirport.Code}})
                    </p>
                </div>
                 <div class="boxdate">
                   <p>{{item.ETA_Zulu  | date:'fullDate'}}</p>
                </div>
                <div class="boxflightinfo">
                    <p class="time">
                        {{item.ETD_Local}} : {{item.ETA_Local}}
                    </p>
                    <p class="flightnumber">
                        {{ 'DATA_FLIGHT' | translate }}: {{item.FlightNumber}}
                    </p>
                     <p ng-class="{'status-delayed':item.status_class === 'delayed','status-ontime': item.status_class === 'ontime','status-departed': item.status_class === 'departed','status-canlled': item.status_class === 'cancelled'}">
                        {{item.status_class}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p class="not_payment_detect" ng-if="checkinStep2DataTotal.ResStatus.Balance > 0">{{ 'DATA_MESSAGE_RESERVATION_BALANCE_OWING' | translate }} {{checkinStep2DataTotal.ResStatus.Balance | isoCurrency:checkinStep2DataTotal.CurrencyInfo.Abbreviation:fractionSize}}. {{ 'DATA_MESSAGE_UNABLE_CHECKIN_BALANCE_PAID' | translate }}.</p>
    <div class="check_in_no_flight" ng-if="vaildResevation  == false">
        <div class="no_flight"></div>
        <h2>{{ 'DATA_MESSAGE_NOT_FLIGHT' | translate }}</h2>
        <p>{{ 'DATA_MESSAGE_CHECK_RESERVATION' | translate }}</p>
    </div>
    <div class="button_next_step">
        <button ng-click="toHome()">{{ 'BUTTON_SEARCH_OTHER' | translate }}</button>
    </div>
</form>
