﻿<div class="fix_content">
    <div style="display:none !important" class="infoslugvalue">{{infoSlug}}</div>
    <ol class="breadcrumb styled">
                <li class="home">
                    <a href="#"><i class="fa fa-home fa-lg fa-fw"></i></a>
                </li>
                <li>
                    <a href="informationpage">Information Page</a>
                </li>
                <li class="active">
                    {{infoTitle}}
                </li>
            </ol>
    <div class="panel panel-default">
  <div class="panel-heading">Information Page List</div>
  <div class="panel-body">
    <div class="add_language" id="comment-editor" style="display:none !important">
            <form ng-submit="save()" role="form">
                <fieldset> 
                    <div class="div_btn_hide"><button type="button" onclick="hideAddNew()" class="btn btn-default"> <i class="fa fa-chevron-up">Hide</i></button></div>  
                    <legend>InformationPage</legend> 
                     <div class="form-group">
                          Language Name:<select class="form-control" ng-model="currentInformationPage.LanguageCode" ng-options="language.LanguageCode as language.LanguageName for language in languageList"></select>
                      </div>
                      <div class="form-group">
                          Info Title:<input type="text" class="form-control" ng-model="currentInformationPage.InfoTitle">
                      </div>
                     <div class="form-group">
                          Info Slug:<input type="text"  class="form-control infoslug" ng-model="currentInformationPage.InfoSlug" readonly>
                     </div>    
                     <div class="form-group">
                          Info Description:<textarea  class="form-control" ng-model="currentInformationPage.InfoDescription"/>
                     </div>
                     <div class="form-group">
                          Info Content:<textarea ck-editor ng-model="currentInformationPage.InfoContent" class="ckeditor"></textarea>
                         
                     </div>
                     
                   <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">Save</span></button>
                </fieldset>
            </form>
    </div>
   <div class="div_content">
    
            <div class="div_btn_add"><button type="button" id="btn_addNew" onclick="showAddNew()" class="btn btn-default"><i class="fa fa-plus-circle">Add New</i></button></div>
               
               <div class="list_language">
                <table class="tbl_listInfo">
                    <thead>
                        <tr class="tr_header">
                            <th width="50px">No</th>
                            <th width="200px">Language Code</th>
                            <th width="200px">Info Title</th>
                            <th width="200px">Info Description</th>
                            <th width="100px">Info Slug</th>
                            <th width="200px">Create On</th>
                            <th width="200px">Create By</th>
                            <th width="200px">Update On</th>
                            <th width="200px">Update By</th>
                            <th width="200px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="info in informationPageList">
                        <td>{{$index + 1}}</td>   
                        <td>{{info.LanguageCode}}</td>               
                        <td>{{info.InfoTitle}}</td>
                        <td>{{info.InfoDescription}}</td>
                        <td>{{info.InfoSlug}}</td>
                        <td>{{info.CreateOn}}</td>
                        <td>{{info.CreateBy}}</td>
                        <td>{{info.UpdateOn}}</td>
                        <td>{{info.UpdateBy}}</td>
                        <td>
                          <button type="button" class="btn btn-link" ng-click="editRow($index);"><i class="fa fa-pencil-square-o"></i></button><button type="button" class="btn btn-link" ng-click="deleteRow($index);"><i class="fa fa-times"></i></button> </td>
                    </tr>
                    </tbody>
                </table>
              </div> 
        
    </div>
        </div>
        </div>
</div>
 <script>
     function showAddNew($location) {
         $('.add_language').toggle(800);
         $('.infoslug').val($('.infoslugvalue').text());
     }
     function hideAddNew() {
         $('#comment-editor').toggle(800);
     }

    </script>